<div class="banner_wrapper">

    <img src="/images/uploaded/banners/{{banner.id}}/{{banner.image}}" alt="">

    <div class="banner_text_wrapper">

        <h3>{{banner.header}}</h3>
        {{banner.text}}

    </div>

    {% if banner.is_form_button == 1 %}

        <button class="_button reception_button">{{banner.button_label}}</button>

    {% else %}

        <a href="{{banner.link_to_deal}}" class="_button">{{banner.button_label}}</a>

    {% endif %}


</div>