
<div class="card_content_wrapper" data-id="{{doctor.doctor_id}}"  data-spec-id>

  <a href="/specialists/{{doctor.alias}}/">

    <div class="card_image_wrapper">

      <img loading="lazy" src="/images/uploaded/doctors/{{doctor.doctor_id}}/{{doctor.doctor_image}}" alt="">

      <div class="card_image_frame"></div>

    </div>

  </a>

    <div class="card_content">

      <a href="/specialists/{{doctor.alias}}/">

        <h5>{{doctor.doctor_title}}</h5>

      </a>

      <p>

        {% for medSpec in doctor.medicalSpecialties|sort((a, b) => a.specialty_sort <=> b.specialty_sort) %}

          {% if loop.last %}
            <a class="_menu_link_no_borders" href="/specialty/{{medSpec.alias}}/" data-spec-id="{{medSpec.specialty_id}}">{{medSpec.menu_title | raw}}</a>
          {% else %}
            <a class="_menu_link_no_borders" href="/specialty/{{medSpec.alias}}/" data-spec-id="{{medSpec.specialty_id}}">{{medSpec.menu_title | raw}}, </a>
          {% endif %}

        {% endfor %}

      </p>
      <p class="work_experience">
      Опыт работы — {{doctor.doctor_experience}}
      </p>

    </div>

    <button class="reception_button _button _button_light">Записаться на приём</button>

  

</div>
