
<div class="card_content_wrapper" data-id="{{doctor.doctor_id}}">

  <a href="/specialists/{{doctor.alias}}">

    <div class="card_image_wrapper">
      <img src="{{doctor.doctor_image}}" alt="">
      <div class="card_image_frame"></div>
    </div>

    <div class="card_content">

      <h5>{{doctor.doctor_title}}</h5>

      <p>{{doctorsMedSpec | raw}}</p>
      <p>опыт работы</p>

    </div>

    <button class="_button _button_light">Записаться на приём</button>

  </a>

</div>
