
<div class="card_content_wrapper" data-id="{{doctor.doctor_id}}"  data-spec-id>

  <a href="/specialists/{{doctor.alias}}">

    <div class="card_image_wrapper">

      <img src="{{doctor.doctor_image}}" alt="">

      <div class="card_image_frame"></div>

    </div>

  </a>

    <div class="card_content">

      <a href="/specialists/{{doctor.alias}}">

        <h5>{{doctor.doctor_title}}</h5>

      </a>

      <p>

        {% for medSpec in doctor.medicalSpecialties %}

          {% if loop.last %}
            <a href="/speciality/{{medSpec.alias}}" data-spec-id="{{medSpec.specialty_id}}">{{medSpec.menu_title}}</a>
          {% else %}
            <a href="/speciality/{{medSpec.alias}}" data-spec-id="{{medSpec.specialty_id}}">{{medSpec.menu_title}}, </a>
          {% endif %}

        {% endfor %}

      </p>
      <p>опыт работы</p>

    </div>

    <button class="_button _button_light">Записаться на приём</button>

  

</div>
