{% for item in faq %}

<div class="faq_item_wrapper" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">

  <div class="item_question" itemprop="name">

    <p><span class="last_breadcrumb">✅ </span>{{item.faq_query | raw}}</p>

    <div class="arrow"></div>

  </div>

  <div class="item_answer _collapse" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">

    <div itemprop="text">{{item.faq_answer | raw}}</div>

    <div class="signature_wrapper">

      {% if item.doctor.doctor_id == 0 %}

        <div class="signature_image" style="background: url(/images/uploaded/doctors/2/1605253296.jpg); background-size: cover;">
        </div>

        <div class="signature_text">

          <a class="_link_black" href="/specialists/pastyan-andrey/">Пастьян Андрей Альбертович</a>
          <p><span>хирург-имплантолог, </span><span>стоматолог-хирург</span></p>
          
        </div>

      {% else %}

        <div class="signature_image" style="background: url(/images/uploaded/doctors/{{item.doctor.doctor_id}}/{{item.doctor.doctor_image}}); background-size: cover;">
        </div>

        <div class="signature_text">

          <a class="_link_black" href="/specialists/{{item.doctor.alias}}/">{{item.doctor.doctor_title}}</a>
          <p>
            {% for spec in item.doctor.medicalSpecialties %}

              {% if loop.last %}

                <span>{{spec.menu_title | raw}}</span>

              {% else %}

                <span>{{spec.menu_title | raw}}, </span>

              {% endif %}

            {% endfor %}
          </p>
          

        </div>

      {% endif %}

    </div>

  </div>

</div>

{% endfor %}
