<div class="swiper-container ratings_container" data-type="ratings">

  <div class="swiper-wrapper">

    {% for rating in clinicRatings %}

    <div class="swiper-slide rating_item_wrapper ">
  
      <div class="logo_img">
        <a href="{{rating.link_to_agregator}}">
          {# <img src="/images/uploaded/ratings/{{rating.id}}/{{rating.icon}}" alt=""> #}
          <img src="/img/ratings/{{rating.icon}}" alt="">
        </a>
      </div>
  
      <p>Рейтинг</p>
  
      <div class="rating_value_wrapper">
  
        <div class="stars" data-rating="{{rating.average_rating}}"></div>
  
        <div class="rating_value">{{rating.average_rating}} из 5</div>
  
      </div>
  
    </div>
  
    {% endfor %}

  </div>

  <div class="swiper-pagination revolver_pagination"></div>

  <div class="revolver_navigation_wrapper">
    <div class="swiper-button-prev revolver_navigation"></div>
    <div class="swiper-button-next revolver_navigation"></div>
  </div>

</div>