{% if childrenService|length > 0 %}

  <div class="content_block subservice_wrapper">

    <div class="service_image_wrapper">

      {% if currentService.image != "" %}

        <img src="/img/{{currentService.image}}" alt="">

      {% elseif mainParent.image != "" %}

        <img src="/img/{{mainParent.image}}" alt="">

      {% endif %}

    </div>

    <div class="subservice_listing">

      {% for serviseFirst in childrenService|sort((a, b) => a.servise_parent_block_sort <=> b.servise_parent_block_sort) %}

        <div class="subservice_listing_item item_wrapper">

          <a class="_link_black" href="{{currentUrl}}{{serviseFirst.alias}}/">

            <span>{{serviseFirst.header_menu_title}}</span>
            
          </a>

        </div>

      {% endfor %}

    </div>

    <div class="collapse_wrapper">
      <span class="close_block read_more">Свернуть</span>
      <span class="open_block read_more _hidden">Развернуть</span>
    </div>

    {# <div class="_hidden">{{currentUrl}}</div> #}

  </div>

{% endif %}