<div class="listing_first_level_item item_wrapper" data-servise-id={{serviseFirst.servise_id}}>

  <a class="_link_black" href="/dent/{{serviseMenu.alias}}/{{serviseFirst.alias}}/">

    <span>{{serviseFirst.header_menu_title}}</span> 
    
  </a>

  <p class="arrow"></p>

  <div class="listing_second_level level_wrapper">

    {% for serviseSecond in servises[serviseFirst.servise_id] %}

        <div class="listing_second_level_item item_wrapper" data-servise-id={{serviseSecond.servise_id}}>

          <a href="/dent/{{serviseMenu.alias}}/{{serviseFirst.alias}}/{{serviseSecond.alias}}/"  class="_link_black">
    
            <span>{{serviseSecond.header_menu_title}}</span>

          </a>

          <p class="arrow"></p>

          <div class="listing_third_level level_wrapper">

            {% for serviseThird in servises[serviseSecond.servise_id] %}

                <div class="listing_third_level_item item_wrapper" data-servise-id={{serviseThird.servise_id}}>

                  <a href="/dent/{{serviseMenu.alias}}/{{serviseFirst.alias}}/{{serviseSecond.alias}}/{{serviseThird.alias}}/"  class="_link_black">
    
                    <span>{{serviseThird.header_menu_title}}</span>

                  </a>
                  
                </div>

            {% endfor %}
          
          </div>

        </div>

    {% endfor %}

  </div>

</div>