<div data-page-type="speciality">

  <div class="content_block title_wrapper">
    
    <div class="breadcrumbs_wrapper">

      <div class="breadcrumbs_wrapper">
        <a class="breadcrumbs _menu_link" href="/">Центр Эстетической Стоматологии</a>
        <a class="breadcrumbs _menu_link" href="/specialists/">Стоматологи</a>
      </div>

    </div>

    <h1>{{activeSpec.specialty_title}}</h1>

    <p>
      Далеко не все из нас могут похвастаться идеальной улыбкой, 
      но это вполне можно исправить: нужно просто обратиться за 
      помощью к стоматологу-ортодонту. Ортодонт – это такой врач, 
      который диагностирует и лечит патологии зубочелюстной 
      системы, то есть, занимается исправлением неправильного 
      прикуса и искривления зубного ряда.
    </p>

  </div>

  <div class="content_block doctors_container" data-page-type='specialists'>

    <div class="medical_specialties_selector">

      {% for medicalSpeciality in medicalSpecialtiesAll %}

        {% if medicalSpeciality.specialty_id == activeSpec.specialty_id %}

          <span>{{medicalSpeciality.menu_title | raw}}</span>

        {% endif %}

      {% endfor %}
      
    </div>

    <div class="medical_specialties_wrapper" data-spec-filter>

      <a href="/specialists/">
        <div class="medical_speciality" data-id="0">
          <span>Все врачи</span>
        </div>
      </a>

      {% for medicalSpeciality in medicalSpecialtiesAll %}

        {% if medicalSpeciality.specialty_id == activeSpec.specialty_id %}


        <a href="/speciality/{{medicalSpeciality.alias}}">
          <div class="medical_speciality _active" data-id="{{medicalSpeciality.specialty_id}}">
            <span>{{medicalSpeciality.menu_title | raw}}</span>
          </div>
        </a>

        {% else %}

        <a href="/speciality/{{medicalSpeciality.alias}}">
          <div class="medical_speciality" data-id="{{medicalSpeciality.specialty_id}}">
            <span>{{medicalSpeciality.menu_title | raw}}</span>
          </div>
        </a>

        {% endif %}


      {% endfor %}

    </div>

    <div class="doctors_wrapper swiper-container">

      <div class="swiper-wrapper">

        {{this.render('/components/doctorListing.twig', {'doctors': doctors}) | raw}}

      </div>

      <div class="swiper-pagination revolver_pagination"></div>

      <div class="revolver_navigation_wrapper">
        <div class="swiper-button-prev revolver_navigation"></div>
        <div class="swiper-button-next revolver_navigation"></div>
      </div>
      
    </div>

    <button class="_button _button_light more_doctors">Показать еще</button>
    
  </div>

  <div class="content_block high_important_note">

    <h4>Когда необходимо обратиться к ортодонту</h4>

    <p>
      Обратиться за консультацией к стоматологу-ортодонту можно по направлению 
      стоматолога общего профиля, хотя поводом к посещению этого специалиста 
      может послужить и собственное контролирование состояния зубного ряда.
    </p>

  </div>

  <div class="content_block spec_description">

    <h3>Что лечит ортодонт?</h3>

    <p>Наиболее распространёнными патологиями, с которыми обращаются к этому врачу, 
      являются следующие:</p><br>

    <ul>
      <li>неправильный прикус (как лёгкие формы, так и серьезные аномалии);</li>
      <li>неправильное размещение одной или обеих зубных дуг (расширение, удлинённость, 
        укорочение, сужение, скученность);</li>
      <li>нестандартное размещение или неестественная форма отдельных зубов;</li>
      <li>асимметрия или несовпадение размеров челюстей, ведущие к нарушению формы лица;</li>
      <li>нарушение жевательной или речевой функции;</li>
      <li>нарушение дыхания.</li>
    </ul>

    <p>
      Опытный стоматолог пародонтолог поможет справиться с такими распространенными 
      заболеваниями, как гингивит, пародонтоз и пародонтит. Все эти заболевания связаны с 
      воспалительными процессами в области пародонта, - околозубных тканей, включающих 
      десну, костную ткань вокруг корня зуба и связочный аппарат зуба.
    </p>

  </div>

  <div class="content_block spec_description">

    <h2>Когда следует записаться на прием к пародонтологу?</h2>

    <p>
      Фактически, все три перечисленных заболевания являются звеньями одной цепи. 
      Всё начинается с гингивита, - покраснения и воспаления десен. При отсутствии 
      надлежащего лечения развивается пародонтоз, воспаление околозубных тканей, 
      в ходе которого постепенно оголяются шейки зубов. И, наконец, последняя стадия 
      – пародонтит, который приводит к разрушению костной ткани и может стать 
      причиной выпадения совершенно здоровых зубов. Рекомендуется записаться на 
      прием к врачу пародонтологу при первых симптомах, чтобы не дожидаться 
      необратимых процессов.<br><br>
      Симптомами, при которых стоит забить тревогу, являются:<br><br>
    </p>

    <ul>
        <li>Боль в области десен,</li>
        <li>Покраснение десен, которое хорошо заметно при простом визуальном осмотре</li>
        <li>Кровоточивость десен, особенно после чистки зубов или откусывании жесткой пищи</li>
        <li>неприятное ощущение, зуд</li>
        <li>Неприятный запах изо рта</li>
        <li>Если у вас установлен зубной протез и он стал доставлять неудобства</li>
      </ul>

    <p>
      Если вы наблюдаете некоторые из этих симптомов, вам срочно нужен стоматолог 
      пародонтолог. Ведь если успеть взять заболевание под контроль на первых этапах, 
      лечение может свестись к простому полосканию рта. Если же болезнь будет запущена, 
      могут потребоваться сложные процедуры, которые сможет выполнить только пародонтолог 
      хирург.<br><br>
      Особое внимание стоит уделить профилактике, которая заключается в регулярном удалении 
      камней и чистке зубов, что эффективно и качественно выполняют наши специалисты.
    </p>

  </div>

  <div class="content_block recall_wrapper" data-page-type="recall_form">

    {{this.render('/components/recall_form.twig', 
      {
        'title': '<h2>Бесплатная консультация</h2>', 
        'title_description': 'Задайте вопросы по телефону +7&nbsp;(495)&nbsp;150-27-16 или оставьте заявку, мы перезвоним в&nbsp;течение рабочего дня.',
        'submit_button_title': 'Записаться'
      }) | raw}}

  </div>

  <div class="content_block spec_description">

    <h3>Никогда не поздно получить квалифицированную помощь!</h3>

    <p>
      В наших клиниках работают пародонтологи хирурги высшей квалификации, 
      которые профессионально вылечат даже самый запущенный пародонтит, 
      сделав всё возможное, для сохранения целостности зубного ряда. 
      Обратившись к нам, вы получите детальную консультацию и комплексную 
      терапию всей полости рта, по мере необходимости. Мы обеспечим точную 
      постановку диагноза и самое эффективное лечение. Поэтому к нашим 
      стоматологам пародонтологам следует обратиться в любом случае: и если 
      у вас начинающийся гингивит, и если уже развилось более серьезное 
      заболевание. У нас доступна запись через интернет на прием к 
      пародонтологу, потому вы можете записаться к врачу прямо сейчас!
    </p><br>

    
    <p>
      <img src="/img/speciality_test_img.png" alt="">
      Запишитесь на консультацию к терапевтам наших клиник, чтобы получить 
      исчерпывающие ответы по вопросам отбеливания эмали, удаления зубных 
      камней и причин появления плохого запаха изо рта! Этот специалист 
      знает, как устранить возникшие проблемы с зубами, вернуть им красоту 
      и здоровье. При наличии разрушенных зубов стоматолог терапевт 
      проведёт лечение зубного канала, что позволит сохранить их, обеспечив 
      полноценное питание твёрдых тканей.
    </p><br>

    <p>
      После установления точного диагноза, врач подберёт эффективный метод 
      лечения. Так, для лечения кариеса специалисты терапевтической 
      стоматологии чаще всего используют реминерализацию эмали, которая 
      гарантирует быстрое восстановление минерального состава зубов. В 
      некоторых случаях (при глубоком поражении) дополнительно может 
      проводиться пломбирование.
    </p>

  </div>

  <div class="content_block reviews_container" data-type="reviews_block">

    <div class="reviews_title">
    
      <h2 class="_index_subtitle">Отзывы пациентов о хирургах-ортодонтах</h2>

      <div class="button_wrapper">

        <form action="/reviews/">
          <button class="_button _button_light _button_to_all"><span>Все отзывы</span> →</button>
        </form>
  
        <button class="_button review_popup_button"><span>Добавить отзыв</span></button>

      </div>

    </div>

    <div class="swiper-container reviews_wrapper">

      <div class="swiper-wrapper">
    
        <div class="swiper-slide review_item_wrapper">       

          <div class="big_quotes"></div>
          <hr>
          <div class="review_text">

            <p>
              У Андрея Альбертовича я ставлю импланты уже не первый раз, 
              но конечно на разные зубы. И всегда, когда я к нему приходил, я ни разу не пожалел. 
              Уровень его профессионализма действительно достоин уважения, как он мне позже рассказал, 
              он даже на практике у ведущих специалистов в Германии был. В Центре Имплантологии 
              все на высшем уровне: и врачи, и обслуживание, и сервис. А главное, цены не кусаются.
            </p>

            <div class="show_all">
              <button class="read_more">Читать полностью</button>
            </div>

          </div>

          <p>Антипова Евгения 28 лет | 10 сентября 2015</p>

        </div>

        <div class="swiper-slide review_item_wrapper">       

          <div class="big_quotes"></div>
          <hr>
          <div class="review_text">

            <p>
              Мне надо было два импланта поставить, а эта процедура недешевая Мне надо было два импланта 
              поставить, а эта процедура недешевая, да и довольно сложная и болезненная, как мне 
              рассказывали. Обратился в Центр имплантологии, моим врачом был Пастьян А.А. оказалось все 
              гораздо проще и быстрее, чем я предполагал. Врач – профессионал с большой буквы. Особой 
              боли не было, легкий дискомфорт, отдельно порадовала итоговая сумма лечения, вполне 
              доступно! Хорошо, что именно в вашу стоматологию попал случайно.
            </p>

            <div class="show_all">
              <button class="read_more">Читать полностью</button>
            </div>

          </div>

          <p>Антипова Евгения 28 лет | 10 сентября 2015</p>

        </div>

        <div class="swiper-slide review_item_wrapper">       

          <div class="big_quotes"></div>
          <hr>
          <div class="review_text">

            <p>
              Когда встал вопрос об имплантации зубов долго выбирал клинику и 
              настраивался на посещение имплантолога. Увидел рекламу в интернете 
              и записался в ЦЭС. Попал в руки суперпрофессионала Пастьяна А.А. 
              Всем рекомендую!
            </p>

            <div class="show_all">
              <button class="read_more">Читать полностью</button>
            </div>

          </div>

          <p>Антипова Евгения 28 лет | 10 сентября 2015</p>

        </div>
        
        <div class="swiper-slide review_item_wrapper">       

          <div class="big_quotes"></div>
          <hr>
          <div class="review_text">

            <p>
              У Андрея Альбертовича я ставлю импланты уже не первый раз, 
              но конечно на разные зубы. И всегда, когда я к нему приходил, я ни разу не пожалел. 
              Уровень его профессионализма действительно достоин уважения, как он мне позже рассказал, 
              он даже на практике у ведущих специалистов в Германии был. В Центре Имплантологии 
              все на высшем уровне: и врачи, и обслуживание, и сервис. А главное, цены не кусаются.
            </p>

            <div class="show_all">
              <button class="read_more">Читать полностью</button>
            </div>

          </div>

          <p>Антипова Евгения 28 лет | 10 сентября 2015</p>

        </div>

        <div class="swiper-slide review_item_wrapper">       

          <div class="big_quotes"></div>
          <hr>
          <div class="review_text">

            <p>
              Мне надо было два импланта поставить, а эта процедура недешевая Мне надо было два импланта 
              поставить, а эта процедура недешевая, да и довольно сложная и болезненная, как мне 
              рассказывали. Обратился в Центр имплантологии, моим врачом был Пастьян А.А. оказалось все 
              гораздо проще и быстрее, чем я предполагал. Врач – профессионал с большой буквы. Особой 
              боли не было, легкий дискомфорт, отдельно порадовала итоговая сумма лечения, вполне 
              доступно! Хорошо, что именно в вашу стоматологию попал случайно.
            </p>

            <div class="show_all">
              <button class="read_more">Читать полностью</button>
            </div>

          </div>

          <p>Антипова Евгения 28 лет | 10 сентября 2015</p>

        </div>

        <div class="swiper-slide review_item_wrapper" data-type="reviews_block">       

          <div class="big_quotes"></div>
          <hr>
          <div class="review_text">

            <p>
              Когда встал вопрос об имплантации зубов долго выбирал клинику и 
              настраивался на посещение имплантолога. Увидел рекламу в интернете 
              и записался в ЦЭС. Попал в руки суперпрофессионала Пастьяна А.А. 
              Всем рекомендую!
            </p>

            <div class="show_all">
              <button class="read_more">Читать полностью</button>
            </div>

          </div>

          <p>Антипова Евгения 28 лет | 10 сентября 2015</p>

        </div>

      </div>

      <div class="swiper-pagination revolver_pagination"></div>

      <div class="revolver_navigation_wrapper">
        <div class="swiper-button-prev revolver_navigation"></div>
        <div class="swiper-button-next revolver_navigation"></div>
      </div>
      
    </div>

  </div>

</div>

<div class="popup_filter_bg"> 

  <div class="scroll_block">

    <div class="review_item_wrapper _hidden">
      
      <div class="close_icon"></div>  

      <div class="big_quotes"></div>

      <hr>

      <div class="review_text">
  
        <p class="main_text"></p>
        <p class="signature"></p>
  
      </div>

      <div class="popup_close_button">Закрыть</div>       
  
    </div>

  </div>

</div>