<div data-page-type="speciality">

  <div class="content_block title_wrapper">
    
    <div class="breadcrumbs_wrapper">

      <div class="breadcrumbs_wrapper">
        <a class="breadcrumbs _menu_link" href="/">Центр Эстетической Стоматологии</a>
        <a class="breadcrumbs _menu_link" href="/specialists/">Стоматологи</a>
      </div>

    </div>

    <h1>{{activeSpec.specialty_title}}</h1>

    <p>
      {{activeSpec.introtext | raw}}
    </p>

  </div>

  <div class="content_block doctors_container" data-page-type='specialists'>

    <h2 class="_index_subtitle">{{activeSpec.spec_title_second}}</h2>

    <div class="medical_specialties_selector">

      {% for medicalSpeciality in medicalSpecialtiesAll %}

        {% if medicalSpeciality.specialty_id == activeSpec.specialty_id %}

          <span>{{medicalSpeciality.menu_title | raw}}</span>

        {% endif %}

      {% endfor %}
      
    </div>

    <div class="medical_specialties_wrapper" data-spec-filter>

      <a href="/specialists/">
        <div class="medical_speciality" data-id="0">
          <span>Все врачи</span>
        </div>
      </a>

      {% for medicalSpeciality in medicalSpecialtiesAll %}

        {% if medicalSpeciality.specialty_id == activeSpec.specialty_id %}


        <a href="/specialty/{{medicalSpeciality.alias}}/">
          <div class="medical_speciality _active" data-id="{{medicalSpeciality.specialty_id}}">
            <span>{{medicalSpeciality.menu_title | raw}}</span>
          </div>
        </a>

        {% else %}

        <a href="/specialty/{{medicalSpeciality.alias}}/">
          <div class="medical_speciality" data-id="{{medicalSpeciality.specialty_id}}">
            <span>{{medicalSpeciality.menu_title | raw}}</span>
          </div>
        </a>

        {% endif %}


      {% endfor %}

    </div>

    <div class="doctors_wrapper swiper-container">

      <div class="swiper-wrapper">

        {{this.render('/components/doctorListing.twig', {'doctors': doctors}) | raw}}

      </div>

      <div class="swiper-pagination revolver_pagination"></div>

      <div class="revolver_navigation_wrapper">
        <div class="swiper-button-prev revolver_navigation"></div>
        <div class="swiper-button-next revolver_navigation"></div>
      </div>
      
    </div>

    <button class="_button _button_light more_doctors">Показать еще</button>
    
  </div>

    {{activeSpec.first_content_block | raw}}

    {{activeSpec.second_content_block | raw}}

    {{activeSpec.third_content_block | raw}}

  <div class="content_block recall_wrapper" data-page-type="recall_form">

    {{this.render('/components/recall_form.twig', 
      {
        'title': '<h2>Бесплатная консультация</h2>', 
        'title_description': 'Задайте вопросы по телефону +7&nbsp;(495)&nbsp;150-27-16 или оставьте заявку, мы перезвоним в&nbsp;течение рабочего дня.',
        'submit_button_title': 'Записаться',
        'csrf': csrf,
        'in_content_block': '_in_content_block'
      }) | raw}}

  </div>

    {{activeSpec.last_content_block | raw}}

  <div class="content_block reviews_container" data-type="reviews_block">

    <div class="reviews_title">
    
      <h2 class="_index_subtitle">{{activeSpec.review_title}}</h2>

      <div class="button_wrapper">

        <a href="/reviews/" class="_button _button_light _button_to_all _menu_link_no_borders_black"><span>Все отзывы</span> →</a>
  
        <button class="_button review_popup_button"><span>Добавить отзыв</span></button>

      </div>

    </div>

    <div class="swiper-container reviews_wrapper">

      <div class="swiper-wrapper">

        {% for review in activeSpec.reviews %}
      
          <div class="swiper-slide review_item_wrapper">       

            <div class="big_quotes"></div>
            <hr>
            <div class="review_text">

              {{review.review_text | raw}}

              <div class="show_all _hidden">
                <button class="read_more">Читать полностью</button>
              </div>

            </div>

            <p class="signature"><span>{{review.author}}</span> | <span>{{review.date}}</p>

          </div>

        {% endfor %} 

      </div>

      <div class="swiper-pagination revolver_pagination"></div>

      <div class="revolver_navigation_wrapper">
        <div class="swiper-button-prev revolver_navigation"></div>
        <div class="swiper-button-next revolver_navigation"></div>
      </div>
      
    </div>

  </div>

</div>

<div class="popup_filter_bg"> 

  <div class="scroll_block">

    <div class="review_item_wrapper _hidden">
      
      <div class="close_icon"></div>  

      <div class="big_quotes"></div>

      <hr>

      <div class="review_text"></div>

      <p class="signature"></p>

      <div class="popup_close_button">Закрыть</div>       
  
    </div>

  </div>

</div>