<div data-page-type="doctor_page">

  <div class="content_block doctor_preview">

    <div class="doctor_preview_bg">

      <a class="breadcrumbs _menu_link" href="/">breadcrumbs</a>
  
      <div class="doctor_preview_container">
    
        <div class="doctor_image" style="background: url({{doc.doctor_image}});"></div>
  
        <div class="doctor_preview_wrapper">
  
          <h2>{{doc.doctor_title}}</h1>
      
          <div class="specialities_wrapper">
      
            {% for spec in doc.medicalSpecialties%}
      
              <a class="_menu_link" href="/speciality/{{spec.alias}}">{{spec.menu_title}}</a>
      
            {% endfor %}
      
          </div>
  
          <div class="swiper_container clinics_wrapper">
  
            <div class="swiper-wrapper">
        
              <div class="swiper-slide clinic_item">

                <a class="_menu_link_no_borders" href="/">

                  <p class="clinic_name">Центр Эстетической Стоматологии</p>
                  <p class="clinic_address">пр-кт Вернадского, д. 11/19<br>• м. Университет</p>
                  <p class="clinic_phone">Тел.: 8 (495) 600 47 45</p>
                  
                </a>

              </div>
        
              <div class="swiper-slide clinic_item">

                <a class="_menu_link_no_borders" href="/">

                  <p class="clinic_name">Центр Эстетической Стоматологии</p>
                  <p class="clinic_address">пр-кт Вернадского, д. 11/19<br>• м. Университет</p>
                  <p class="clinic_phone">Тел.: 8 (495) 600 47 45</p>
                  
                </a>

              </div>
        
              <div class="swiper-slide clinic_item">

                <a class="_menu_link_no_borders" href="/">

                  <p class="clinic_name">Центр Эстетической Стоматологии</p>
                  <p class="clinic_address">пр-кт Вернадского, д. 11/19<br>• м. Университет</p>
                  <p class="clinic_phone">Тел.: 8 (495) 600 47 45</p>
                  
                </a>

              </div>
        
            </div>

            <div class="revolver_navigation_wrapper">

              <div class="swiper-button-prev revolver_navigation"></div>
              <div class="swiper-button-next revolver_navigation"></div>
      
            </div>
  
          </div>
      
          <button class="_button">Записаться на приём</button>
  
        </div>
    
      </div>

    </div>


  </div>

  <div class="content_block doctor_menu">

  </div>

  <div class="content_block doctor_video">

    <h2>Видео о враче</h2>

    <video src="/video/video_1.mp4" controls="controls"></video>

  </div>

  <div class="content_block doctor_lizcenz">

    <h2>Сертификаты</h2>

    <div class="swiper_container lizcenz_wrapper">
  
      <div class="swiper-wrapper">
  
        <div class="swiper-slide lizcenz_item">
          <img src="/img/test_img/image 103-0.png" alt="">
        </div>
        <div class="swiper-slide lizcenz_item">
          <img src="/img/test_img/image 103-1.png" alt="">
        </div>
        <div class="swiper-slide lizcenz_item">
          <img src="/img/test_img/image 103-2.png" alt="">
        </div>
        <div class="swiper-slide lizcenz_item">
          <img src="/img/test_img/image 103-3.png" alt="">
        </div>
        <div class="swiper-slide lizcenz_item">
          <img src="/img/test_img/image 103-4.png" alt="">
        </div>
        <div class="swiper-slide lizcenz_item">
          <img src="/img/test_img/image 103-6.png" alt="">
        </div>
        <div class="swiper-slide lizcenz_item">
          <img src="/img/test_img/image 103-7.png" alt="">
        </div>
        <div class="swiper-slide lizcenz_item">
          <img src="/img/test_img/image 103-8.png" alt="">
        </div>
  
      </div>

      <div class="revolver_navigation_wrapper">

        <div class="swiper-button-prev revolver_navigation"></div>
        <div class="swiper-button-next revolver_navigation"></div>

      </div>

    </div>

  </div>

  <div class="content_block doctor_education">

    <h2>Образование</h2>

    <div class="doctor_education_content">
      {{doc.content | raw}}

      <div class="show_all">
        <button class="read_more">Показать полностью</button>
      </div>

    </div>


  </div>

  <div class="content_block doctor_work_example">

    <h2>Примеры работы</h2>

    <div class="swiper-container doctor_work_wrapper">

      <div class="swiper-wrapper">

          <div class="swiper-slide doctor_work_item">

            <div class="doctor_work_image" style="background: url('/img/test_img/image 65.png');">

              <div class="bg_filter">
                <button class="_button _button_light">Смотреть фотографии</button>
              </div>

            </div>

            <p>
              <span>Детское протезирование после травмы</span> 
              <br>
              <span>2 фотографии</span>
            </p>

            <div class="popup_gallery_wrapper">

              <h2>Исправление искривления зубов системой Инвизилайн за 1 год 3 месяца</h2>

              <div class="swiper-container popup_gallery">

                <div class="swiper-wrapper">

                  <div class="swiper-slide doctor_work_item _popup"></div>
                  <div class="swiper-slide doctor_work_item _popup"></div>
                  <div class="swiper-slide doctor_work_item _popup"></div>

                </div>

              </div>

              <div class="swiper-container popup_gallery_thumbs">

                <div class="swiper-wrapper">

                  <div class="swiper-slide doctor_work_item _popup"></div>
                  <div class="swiper-slide doctor_work_item _popup"></div>
                  <div class="swiper-slide doctor_work_item _popup"></div>

                </div>

              </div>

              <p>
                Пациент обратился с жалобой на неудобное использование полного 
                съемного протеза на верхней челюсти, в виду отсутствия всех зубов. 
                Была проведена костная пластика и установка дентальных 
                имплантантов, что позволило нам через 7 месяцев забыть о 
                существовании полных съемных протезов навсегда. Фото сделано на 
                профилактическом осмотре через 5 лет после имплантации.
              </p>

              <div class="diagonal_navigation">

                <div class="diagonal_navigation_bg"></div>
                <div class="swiper-button-prev _diagonal_navigation"></div>
                <span class="current_slide">01</span>
                <br>
                <span class="total_slides">03</span>
                <div class="swiper-button-next _diagonal_navigation"></div>
        
              </div>

            </div>

          </div>

          <div class="swiper-slide doctor_work_item">

            <div class="doctor_work_image" style="background: url('/img/test_img/image 65-1.png');">
              
              <div class="bg_filter">
                <button class="_button _button_light">Смотреть фотографии</button>
              </div>
              
            </div>
            
            <p>

              <span></span> 

              <br>
              
              <span>5 фотографий</span>

            </p>

          </div>

          <div class="swiper-slide doctor_work_item">
            <div class="doctor_work_image" style="background: url('/img/test_img/image 65-2.png');">
            
              <div class="bg_filter">
                <button class="_button _button_light">Смотреть фотографии</button>
              </div>
              
            </div>
            
            <p>

              <span>Детское протезирование после травмы</span> 

              <br>
              
              <span>2 фотографии</span>

            </p>

          </div>

          <div class="swiper-slide doctor_work_item">
            <div class="doctor_work_image" style="background: url('/img/test_img/image 65.png');">
            
              <div class="bg_filter">
                <button class="_button _button_light">Смотреть фотографии</button>
              </div>
              
            </div>
            
            <p>

              <span>Детское протезирование после травмы</span> 

              <br>
              
              <span>2 фотографии</span>

            </p>

          </div>

          <div class="swiper-slide doctor_work_item">

            <div class="doctor_work_image" style="background: url('/img/test_img/image 65-1.png');">
            
              <div class="bg_filter">
                <button class="_button _button_light">Смотреть фотографии</button>
              </div>
              
            </div>
            
            <p>
              <span>Детское протезирование после травмы</span> 
              <br>
              <span>2 фотографии</span>
            </p>

          </div>

          <div class="swiper-slide doctor_work_item">
            <div class="doctor_work_image" style="background: url('/img/test_img/image 65-2.png');">
            
              <div class="bg_filter">
                <button class="_button _light_button">Смотреть фотографии</button>
              </div>
              
            </div>
            
            <p>

              <span>Детское протезирование после травмы</span> 

              <br>
              
              <span>2 фотографии</span>

            </p>

          </div>

      </div>

      <div class="revolver_navigation_wrapper">

        <div class="swiper-button-prev revolver_navigation"></div>
        <div class="swiper-button-next revolver_navigation"></div>

      </div>
  
    </div>

  </div>

  <div class="content_block doctor_reviews">

  </div>

</div>