<div data-page-type="doctor_page">

  <div class="content_block doctor_preview">

    <div class="doctor_preview_bg">

      <div class="breadcrumbs_wrapper">

        <a class="breadcrumbs _menu_link" href="/">Центр Эстетической Стоматологии</a>
        <a class="breadcrumbs _menu_link" href="/specialists/">Специалисты</a>

      </div>
  
      <div class="doctor_preview_container">
  
        <div class="doctor_preview_wrapper">
  
          <h1>{{doc.doctor_title}}</h1>
      
          <div class="swiper-container specialities_wrapper">

            <div class="swiper-wrapper">
      
              {% for spec in doc.medicalSpecialties %}
        
                <a class="swiper-slide _menu_link" href="/speciality/{{spec.alias}}">{{spec.menu_title | raw}}</a>
        
              {% endfor %}
      
            </div>

          </div>

          <div class="doctor_image" style="background: url(/images/uploaded/doctors/{{doc.doctor_id}}/{{doc.doctor_image}}); background-size: cover;"></div>
  
          <div class="swiper-container clinics_wrapper">
  
            <div class="swiper-wrapper">

              {% for clinic in doc.doctorsAndClinics %}
        
                <div class="swiper-slide clinic_item">

                <a class="clinic_name _link_black" href="/contacts/{{clinic.alias}}">{{clinic.card_title | raw}}</a>
                <p class="clinic_address">{{clinic.clinic_address_short | raw}}</p>
                <div class="clinic_phone">
                  Тел.: {{clinic.main_phone | raw}}
                </div>
              </div>
        
              {% endfor %}
  
            </div>

            <div class="swiper-pagination revolver_pagination"></div>

            <div class="revolver_navigation_wrapper">
              <div class="swiper-button-prev revolver_navigation"></div>
              <div class="swiper-button-next revolver_navigation"></div>
            </div>
  
          </div>
      
          <button class="reception_button _button">Записаться на приём</button>
  
        </div>
    
      </div>

    </div>

  </div>

  <div class="content_block doctor_menu">

    <div class="chapter_link_container">
      
      <div class="chapter_link_wrapper">
        <a class="chapter_link _menu_link_dashed_black" href="#video">Видео</a>
      </div>
      <div class="chapter_link_wrapper">
        <a class="chapter_link _menu_link_dashed_black" href="#lizcenz">Сертификаты</a>
      </div>
      <div class="chapter_link_wrapper">
        <a class="chapter_link _menu_link_dashed_black" href="#education">Образование</a>
      </div>
      <div class="chapter_link_wrapper">
        <a class="chapter_link _menu_link_dashed_black" href="#work_example">Примеры работ</a>
      </div>

      {% if doc.reviews|length > 0 %}

        <div class="chapter_link_wrapper">
          <a class="chapter_link _menu_link_dashed_black" href="#reviews">Отзывы</a>
        </div>

      {% endif %}
      
    </div>
    
  </div>

  <div class="content_block doctor_video_container">
    <a name="video"></a>

    <div class="doctor_video_title">

      <h2>Видео о враче</h2>

    </div>

    <div class="swiper-container doctor_video_wrapper">

      <div class="swiper-wrapper">

      {% for video in doc.doctorsGalleries %}

        {% if video.block_type == 'video' %}

          <div class="swiper-slide doctor_video_item_container">

            <div class="doctor_video_item_wrapper">

              <div id="{{ video.filepath }}" class="doctor_video"></div>

              <div class="play_button_wrapper">
                <button class="play_button"></button>
              </div>

            </div>

          </div>

        {% endif %}

      {% endfor %}

      </div>

      <div class="swiper-pagination revolver_pagination"></div>

      <div class="revolver_navigation_wrapper">
        <div class="swiper-button-prev revolver_navigation"></div>
        <div class="swiper-button-next revolver_navigation"></div>
      </div>

    </div>

  </div>

  {# <div class="content_block doctor_video">
    

    <h2>Видео о враче</h2>

    <div class="video_item_wrapper">
      <div id="video_item"></div>
      <div class="play_button_wrapper">
        <button class="play_button"></button>
      </div>
    </div>

  </div> #}

  <div class="content_block doctor_lizcenz">

    <a name="lizcenz"></a>

    <h2>Сертификаты</h2>

    <div class="swiper_container lizcenz_wrapper">
  
      <div class="swiper-wrapper">

      {% for lizcenz in doc.doctorsGalleries %}

        {% if lizcenz.block_type == 'lizcenz' %}

          <div class="swiper-slide lizcenz_item" data-full-img="/images/uploaded/doctors/{{doc.doctor_id}}/lizcenz/{{lizcenz.filepath}}">
            <img src="/images/uploaded/doctors/{{doc.doctor_id}}/lizcenz/{{lizcenz.filepath}}" alt="">
          </div>

        {% endif %}

      {% endfor %}

      </div>

      <div class="swiper-pagination revolver_pagination"></div>

      <div class="revolver_navigation_wrapper">
        <div class="swiper-button-prev revolver_navigation"></div>
        <div class="swiper-button-next revolver_navigation"></div>
      </div>

    </div>

  </div>

  <div class="content_block doctor_education">

    <a name="education"></a>

    <h2>Образование</h2>

    <div class="doctor_education_content">
      {{doc.doctor_education | raw}}

      <div class="show_all _hidden">
        <button class="read_more">Показать полностью</button>
      </div>

    </div>

  </div>

  {{draft | raw}}

  {# <div class="content_block doctor_work_example">

    <a name="work_example"></a>

    <h2>Примеры работы</h2>

    <div class="swiper-container doctor_work_wrapper">

      <div class="swiper-wrapper">

        {% for i in 1..10 %}
    
          <div class="swiper-slide doctor_work_item">

            <div class="doctor_work_image" style="background: url('/img/test_img/professionalnaya-gigiena-4.jpg'); background-size: cover;" data-gallery-id="{{i}}">

              <div class="bg_filter">
                <button class="_button _button_light">Смотреть фотографии</button>
              </div>

            </div>

            <p>
              <span>Детское протезирование после травмы</span> 
              <br>
              <button class="inner_gallery_button">2 фотографии</button>
            </p>

          </div>

        {% endfor %}

      </div>

      <div class="swiper-pagination revolver_pagination"></div>

      <div class="revolver_navigation_wrapper">
        <div class="swiper-button-prev revolver_navigation"></div>
        <div class="swiper-button-next revolver_navigation"></div>
      </div>
  
    </div>

  </div> #}

  {% if doc.reviews|length > 0 %} 

    <div class="content_block doctor_reviews" data-type="reviews_block">

      <a name="reviews"></a>

      <div class="reviews_title">
      
        <h2 class="_index_subtitle">Отзывы пациентов о хирургах-ортодонтах</h2>

        <div class="button_wrapper">

          <a href="/reviews/" class="_button _button_light _button_to_all _menu_link_no_borders_black"><span>Все отзывы</span> →</a>
    
          <button class="_button review_popup_button"><span>Добавить отзыв</span></button>

        </div>

      </div>

      <div class="swiper-container reviews_wrapper" data-type="reviews_block">

        <div class="swiper-wrapper">

          {% for review in doc.reviews %}
        
            <div class="swiper-slide review_item_wrapper">       
    
              <div class="big_quotes"></div>

              <hr>

              <div class="review_text" data-id="{{review.review_id}}">

                {{review.review_text | raw}}

                <div class="show_all _hidden">
                  <button class="read_more">Читать полностью</button>
                </div>

              </div>

              <p class="signature"><span>{{review.author}}</span> | <span>{{review.date}}</span></p>
    
            </div>
      
          {% endfor %}
      
        </div>

        <div class="swiper-pagination revolver_pagination"></div>

        <div class="revolver_navigation_wrapper">
          <div class="swiper-button-prev revolver_navigation"></div>
          <div class="swiper-button-next revolver_navigation"></div>
        </div>

      </div>

    </div>

  {% endif %}

</div>

<div class="popup_filter_bg">

  <div class="scroll_block">

    <div class="review_item_wrapper _hidden">
      
      <div class="close_icon"></div>       
      <div class="big_quotes"></div>
      <hr>
      <div class="review_text">

        <p class="main_text"></p>
        <p class="signature"></p>

      </div>
      <div class="popup_close_button">Закрыть</div>       

    </div>

    <div class="popup_lizcenz_wrapper _hidden">
      
      <div class="close_icon"></div>       
      
      <div class="lizcenz_item_wrapper">
        <img src="/" alt="сертификат">
      </div>

      <div class="popup_close_button">Закрыть</div>       

    </div>

    <div class="popup_gallery_container _hidden">

      {# {% for i in 1..10 %}
        
        <div class="popup_gallery_wrapper" data-gallery-id="{{i}}">

          <div class="close_icon"></div>

          <h4>Исправление искривления зубов системой Инвизилайн за 1 год 3 месяца</h4>

          <div class="swiper-container popup_gallery">

            <div class="swiper-wrapper">

              {% for i in 1..10 %}

                <div class="swiper-slide doctor_work_item _popup">
                  <div class="doctor_work_image _popup" style="background: url('/img/test_img/professionalnaya-gigiena-4.jpg'); background-repeat: no-repeat; background-size: cover;"></div>
                </div>

              {% endfor %}

            </div>

            <div class="popup_navigation_wrapper">

              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next "></div>
      
            </div>

          </div>

          <div class="swiper-container popup_gallery_thumbs">

            <div class="swiper-wrapper">

              {% for i in 1..10 %}

                <div class="swiper-slide doctor_work_item _popup">
                  <div class="doctor_work_image _popup" style="background: url('/img/test_img/professionalnaya-gigiena-4.jpg'); background-repeat: no-repeat; background-size: cover;"></div>
                </div>

              {% endfor %}

            </div>

          </div>

          <p>
            Пациент обратился с жалобой на неудобное использование полного 
            съемного протеза на верхней челюсти, в виду отсутствия всех зубов. 
            Была проведена костная пластика и установка дентальных 
            имплантантов, что позволило нам через 7 месяцев забыть о 
            существовании полных съемных протезов навсегда. Фото сделано на 
            профилактическом осмотре через 5 лет после имплантации.
          </p>

        </div>

      {% endfor %}#}

      <div class="diagonal_navigation">

        <div class="diagonal_navigation_bg"></div>
        <div class="popup_button_prev _diagonal_navigation"></div>
        <span class="current_slide">01</span>
        <br>
        <span class="total_slides">03</span>
        <div class="popup_button_next _diagonal_navigation"></div>

      </div>

      <button class="popup_close_button">Закрыть</button> 

    </div> 

  </div>
  
</div>

<script src="//www.youtube.com/player_api"></script>

<script>
  // var play;
  
  // function onYouTubePlayerAPIReady() {
  //   play = new YT.Player('video_item', {
  //     videoId: 'Sn7CC9Z51so',
  //     width: '808',
  //     height: '455',
  //   });
  //   $('.play_button').on('click', function() {
  //     play.playVideo();
  //     $(this).closest('.play_button_wrapper').addClass('_hidden');
  //   });
  //   // document.getElementById('pauseYoutube1').onclick = function() {play.pauseVideo();};
  // }

</script>

<script>
  var player = [];
  
  function onYouTubePlayerAPIReady() {

    $('.doctor_video_item_wrapper').each(function(i, obj) {
      var currentVideoId = $(obj).find('.doctor_video').attr('id');
      player[i] = new YT.Player(currentVideoId, {
        videoId: currentVideoId,
        width: '808',
        height: '455',
      });
      $(obj).find('.play_button_wrapper .play_button').on('click', function() {
        player[i].playVideo();
        $(this).closest('.play_button_wrapper').addClass('_hidden');
      });

    });
      // document.getElementById('pauseYoutube1').onclick = function() {play.pauseVideo();};
  };
</script>