<div data-page-type="specialists">

  <div class="content_block title_wrapper">

    <ul class="breadcrumbs_wrapper" itemscope itemtype="https://schema.org/BreadcrumbList">

      <li class="breadcrumbs_item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <a class="_menu_link_no_borders" href="/" itemtype="https://schema.org/Thing" itemprop="item">
          <span class="item_name" itemprop="name"><span class="last_breadcrumb">✅</span> Центр Стоматологической Имплантологии</span>
        </a>
        <meta itemprop="position" content="1" />
      </li>
      
    </ul>

    <h1>Наши специалисты</h1>

    <p>
      Все врачи Центра Эстетической Стоматологии являются специалистами высокого класса, 
      постоянно повышающими свою квалификацию. Наши специалисты участвуют в международных 
      конференциях, семинарах и выставках, имеют ученые степени и звания. В нашем 
      коллективе 8 кандидатов наук. Высокий профессионализм врачей, ассистентов и 
      администраторов клиник за долгие годы обеспечили доверие пациентов к нашим клиникам.
    </p>

    <button class="read_more">Читать полностью</button>

  </div>

  <div class="content_block clinics_cotnainer">

    <div class="clinics_title">

      <h2 class="_index_subtitle">Адреса наших клиник</h2>

    </div>

    <div class="cities">

      <div class="city moscow _active">Москва</div>
      <div class="city geneva">Женева</div>

    </div>

    <div class="swiper-container moscow_clinics clinics_wrapper">

      <div class="swiper-wrapper">

        {% for clinic in clinics %}
        
          {% if clinic.clinic_id != 5 %}

            <div
                class="swiper-slide clinic_card_wrapper">

                <a class="clinic_title _link_black" href="/contacts/{{clinic.alias}}/">{{clinic.card_title}}</a>
                <p class="clinic_address">{{clinic.clinic_address_short | raw}}</p>
                <div class="clinic_phone">
                  Тел.: {{clinic.main_phone | raw}}
                </div>
                

            </div>

          {% endif %}

        {% endfor %}

      </div>

      <div class="swiper-pagination revolver_pagination"></div>

      <div class="revolver_navigation_wrapper">
        <div class="swiper-button-prev revolver_navigation"></div>
        <div class="swiper-button-next revolver_navigation"></div>
      </div>

    </div>

    <div class="geneva_clinics clinics_wrapper _hidden">

      {% for clinic in clinics %}
      
        {% if clinic.clinic_id == 5 %}

          <div class="clinic_card_wrapper">

            <a class="clinic_title _link_black" href="/contacts/{{clinic.alias}}/">{{clinic.card_title}}</a>
            <p class="clinic_address">{{clinic.clinic_address_short | raw}}</p>
            <div class="clinic_phone">
              Тел.: {{clinic.main_phone | raw}}
            </div>

          </div>

        {% endif %}

      {% endfor %}

    </div>

  </div>

  <div class="content_block doctors_container">

    <div class="doctors_title">
    
      <h2 class="_index_subtitle">У нас работают</h2>

    </div>

    <div class="medical_specialties_selector">

      <span>Все врачи</span>
      
    </div>

    <div class="medical_specialties_wrapper" data-spec-filter>

      <div class="medical_speciality _active" data-id="0">
        <span>Все врачи</span>
      </div>

      {% for medicalSpeciality in medicalSpecialties %}

        <a href="/specialty/{{medicalSpeciality.alias}}/">
          <div class="medical_speciality" data-id="{{medicalSpeciality.specialty_id}}">
            <span>{{medicalSpeciality.menu_title | raw}}</span>
          </div>
        </a>

      {% endfor %}

    </div>

    <div class="doctors_wrapper">

      {{this.render('/components/doctorListing.twig', {'doctors': doctors}) | raw}}

    </div>

    <button class="_button _button_light more_doctors">Показать еще</button>
    
  </div>

</div>