<div data-page-type="specialists">

  <div class="content_block title_wrapper">

    <ul class="breadcrumbs_wrapper" itemscope itemtype="https://schema.org/BreadcrumbList">

      <li class="breadcrumbs_item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <a class="_menu_link_no_borders" href="/" itemtype="https://schema.org/Thing" itemprop="item">
          <span class="item_name" itemprop="name"><span class="last_breadcrumb">✅</span> Центр Стоматологической Имплантологии</span>
        </a>
        <meta itemprop="position" content="1" />
      </li>
      
    </ul>

    <h1>Наши специалисты</h1>

    <p>
      Все врачи Центра Стоматологической Имплантологии являются специалистами высокого класса, 
      постоянно повышающими свою квалификацию. Наши специалисты участвуют в международных 
      конференциях, семинарах и выставках, имеют ученые степени и звания. Высокий профессионализм 
      врачей, ассистентов и администраторов клиник за долгие годы обеспечили доверие пациентов к 
      нашим клиникам.
    </p>

    <button class="read_more">Читать полностью</button>

  </div>

  <div class="content_block clinics_cotnainer">

    <div class="clinics_title">

      <h2 class="_index_subtitle">Адреса наших клиник</h2>

    </div>

    <div class="cities">

      <div class="city moscow _active">Москва</div>
      <div class="city geneva">Женева</div>

    </div>

    <div class="swiper-container moscow_clinics clinics_wrapper">

      <div class="swiper-wrapper">

        {% for clinic in clinics %}
        
          {% if clinic.clinic_id != 5 %}

            <div
                class="swiper-slide clinic_card_wrapper">

                <a class="clinic_title _link_black" href="/contacts/{{clinic.alias}}/">{{clinic.card_title}}</a>
                <p class="clinic_address">{{clinic.clinic_address_short | raw}}</p>
                <div class="clinic_phone">
                  Тел.: {{clinic.main_phone | raw}}
                </div>
                

            </div>

          {% endif %}

        {% endfor %}

      </div>

      <div class="swiper-pagination revolver_pagination"></div>

      <div class="revolver_navigation_wrapper">
        <div class="swiper-button-prev revolver_navigation"></div>
        <div class="swiper-button-next revolver_navigation"></div>
      </div>

    </div>

    <div class="geneva_clinics clinics_wrapper _hidden">

      {% for clinic in clinics %}
      
        {% if clinic.clinic_id == 5 %}

          <div class="clinic_card_wrapper">

            <a class="clinic_title _link_black" href="/contacts/{{clinic.alias}}/">{{clinic.card_title}}</a>
            <p class="clinic_address">{{clinic.clinic_address_short | raw}}</p>
            <div class="clinic_phone">
              Тел.: {{clinic.main_phone | raw}}
            </div>

          </div>

        {% endif %}

      {% endfor %}

    </div>

  </div>

  <div class="content_block doctors_container">

    <div class="doctors_title">
    
      <h2 class="_index_subtitle">У нас работают</h2>

    </div>

    <div class="medical_specialties_selector">

      <span>Все врачи</span>
      
    </div>

    <div class="medical_specialties_wrapper" data-spec-filter>

      <div class="medical_speciality _active" data-id="0">
        <span>Все врачи</span>
      </div>

      {% for medicalSpeciality in medicalSpecialties %}

        <a href="/specialty/{{medicalSpeciality.alias}}/">
          <div class="medical_speciality" data-id="{{medicalSpeciality.specialty_id}}">
            <span>{{medicalSpeciality.menu_title | raw}}</span>
          </div>
        </a>

      {% endfor %}

    </div>

    <div class="doctors_wrapper">

      {{this.render('/components/doctorListing.twig', {'doctors': doctors}) | raw}}

    </div>

    <button class="_button _button_light more_doctors">Показать еще</button>
    
  </div>

  <div class="content_block bottom_text">

    <h2>О врачах-стоматологах</h2>	

    <p>Стоматолог – это врач, в сферу деятельности которого входят диагностика, лечение и профилактика заболеваний органов ротовой полости (зубов, слизистой оболочки, костей челюстей и мягких тканей). Помимо этого, зубной врач занимается восстановлением эстетики улыбки и функциональности челюстно-лицевого аппарата в целом.</p>

    <p>Стоматология включает в себя несколько направлений, и в каждом имеется доктор с соответствующей специализацией:</p>

    <ul>

      <li><a href="/specialty/stomatolog-terapevt/" target="_blank">терапевт</a> – занимается профилактикой, первичной диагностикой и лечением часто встречающихся патологий зубов и слизистых оболочек ротовой полости;</li>
      <li><a href="/specialty/stomatolog-ortoped/" target="_blank">ортопед</a> – доктор, который восстанавливает и протезирует утраченные зубы при помощи коронок и протезов;</li>
      <li><a href="/specialty/hirurg/" target="_blank">хирург</a> – лечит патологии челюстно-лицевой области хирургическими методами, например, удаляет зубы или наоборот, проводит зубосохраняющие операции;</li>
      <li><a href="/specialty/hirurg-implantolog/" target="_blank">имплантолог</a> – восстанавливает потерянные зубы путем вживления имплантатов в кость челюсти;
      </li>
      <li><a href="/specialty/stomatolog-ortodont/" target="_blank">ортодонт</a> – занимается коррекцией прикуса с помощью специальных устройств (брекет-систем, пластинок, элайнеров).</li>

    </ul>

    <p>В сети клиник «Центр Стоматологической Имплантологии» работают лучшие стоматологи Москвы с высоким уровнем квалификации. Наши врачи-стоматологи постоянно совершенствуют свои знания и используют только современные методики лечения, которые соответствуют мировым стандартам.</p>

    <h2>О стоматологических заболеваниях</h2>
    
    <p>Основным поводом обращения к доктору-стоматологу чаще всего является кариозное поражение зубов. </p>

    <p><a href="/dent/terapiya/lechenie-zubov/karies/" target="_blank">Кариес</a> – это самая распространенная проблема, которая выражается в разрушении эмали и дентина с образованием полости. Патология имеет несколько стадий – сначала появляется белое пятно на поверхности эмали, которое постепенно размягчается, ткани распадаются, и формируется увеличивающаяся в размерах полость. Пусковым механизмом в развитии кариеса является скопление налета на поверхности зубов и воздействие кислот на эмаль, которые образуются под действием бактерий, провоцирующих брожение углеводов. Все эти факторы провоцируют разрыхление эмали.</p>

    <p>Если на этапе кариозной полости не было проведено лечение, то в патологический процесс вовлекается пульпа зуба, расположенная в корневых каналах, и возникает пульпит. Воспаление, перешедшее на сосудисто-нервный пучок, причиняет человеку выраженный дискомфорт. При дальнейшем бездействии патологический процесс распространяется вглубь корневого канала и за его пределы, провоцируя развитие периодонтита, который может повлечь за собой удаление зуба.</p>

    <p>Что касается мягких тканей ротовой полости, то чаще всего пациенты обращаются к стоматологу по поводу гингивита – <a href="/dent/gigi-prof/desna/" target="_blank">воспаления десен</a>, связанного с активацией патогенной микрофлоры. Длительное течение гингивита нередко переходит в пародонтит, который осложняется рецессией десны (оголением шейки и поверхности корня зуба) и появлением подвижности зубов. При длительном тяжелом течении это так же приводит к удалению. Своевременное обращение к стоматологу на ранних этапах позволяет предотвратить множество проблем и необходимости проведения сложного и дорогого лечения.</p>

    <h2>Когда нужно обращаться к стоматологу</h2>

    <p>Под <a href="/dent/diagnost/profilaktika-zabolevaniy/" target="_blank">профилактикой стоматологических заболеваний</a> подразумевается не только ежедневная чистка зубов, но и регулярные посещения врача-стоматолога. Плановые визиты, как правило, должны происходить раз в шесть месяцев для осмотра полости рта и проведения профессиональной гигиены. Регулярное посещение кабинета стоматолога поможет вовремя заметить начинающийся патологический процесс и провести лечение на ранних этапах развития болезни как у взрослых, так и у детей.</p>

    <p>Внеплановый прием стоматолога может понадобиться в экстренных ситуациях. Обращаться за помощью следует при появлении внезапных неприятных симптомов:</p>

    <ul>

      <li>боль в зубах, деснах, челюстях;</li>
      <li>травма органов ротовой полости;</li>
      <li>повышенная чувствительность зубов на температурные и химические раздражители;</li>
      <li>боль во время жевания;</li>
      <li>отек мягких тканей челюстно-лицевой области;</li>
      <li>кровоточивость десен в процессе чистки зубов;</li>
      <li>неприятный запах изо рта;</li>
      <li>подвижность зубов;</li>
      <li>застревание остатков пищи в межзубных промежутках.</li>

    </ul>

    <p>Хороший стоматолог во время профилактического осмотра должен распознать патологию даже на самых ранних этапах ее появления, чтобы провести лечение вовремя и минимизировать риск развития осложнений. Специалисты сети клиник «Центра Стоматологической Имплантологии» внимательно относятся к каждому пациенту. Внушительный запас знаний и большой опыт работы позволяют нашим стоматологам браться даже за самые сложные случаи.</p>

    <h2>Наиболее популярные причины обращения</h2>

    <p>Чаще всего запись на прием к стоматологу проводится по нескольким распространенным причинам:</p>

    <ul>

      <li>зубная боль различного характера – постоянная или спонтанная, ноющая или острая, возникающая ночью или во время жевания;</li>
      <li>травмы – сколы, трещины или переломы зубов, разрывы мягких тканей полости рта;
    кариозные полости в зубах;</li>
      <li>пигментация эмали и скопление на поверхности зубов плотного налета или камней;</li>
      <li>кровоточивость и отек десен, неприятный запах изо рта;</li>
      <li>протезирование утраченных зубов;</li>
      <li>неправильный прикус;</li>
      <li>какие-либо эстетические недостатки улыбки.</li>

    </ul>

    <p>В наших клиниках в Москве оказывают всевозможные стоматологические услуги, начиная от простого осмотра до сложных хирургических манипуляций.</p>

    <h2>Диагностика</h2>

    <p>
    Эффективность любого стоматологического вмешательства полностью зависит от полноценности и своевременности диагностики патологических состояний. В сети стоматологий «Центра Стоматологической Имплантологии» наряду с обычным визуальным осмотром специалисты используют современное оборудование для получения более полной картины. </p>

    <p>Применяется радиовизиограф для получения четких рентгеновских снимков, при необходимости проводится компьютерная томография челюстей. В ходе простого осмотра стоматолог не видит патологические изменения, протекающие вокруг корня зуба. Благодаря полноценной диагностике врач получает возможность составить точное представление о клинической картине и подобрать максимально эффективный план лечения, подходящий именно для вас.</p>

    <h2>Методы лечения</h2>
    
    <p>Наши специалисты являются экспертами в лечении особо сложных клинических ситуаций, для нас нет абсолютно безнадежных случаев. Мы заботимся о комфорте своих пациентов, поэтому в клинике установлены высококлассные стоматологические установки Sirona C8+ с удобным креслом и высокотехнологичным оборудованием.</p>

    <p>Для качественной гигиены ротовой полости проводится профессиональная <a href="/dent/gigi-prof/chistka-zubov/ultrazvuk/" target="_blank">чистка зубов с помощью ультразвука</a> и чистки Air Flow. В основе ультразвукового метода лежит воздействие на плотный налет и камни ультразвуковых волн от специального наконечника, которые разрушают все отложения. Так же из наконечника подается струя воды, одновременно смывающая отколовшиеся камни с поверхности эмали. В клиниках используют многофункциональный скалер с оптикой Varios, который имеет множество различных насадок, подходящих для разных ситуаций.</p>

    <p><a href="/dent/gigi-prof/chistka-zubov/air-flow/" target="_blank"></a>Air Flow – это чистка смесью, состоящей из воды, воздуха и абразивного порошка, которая подается из специального наконечника. Состав быстро и безболезненно удаляет все отложения и полирует поверхность эмали.</p>

    <p>Для лечения кариеса проводят препарирование (удаление) поврежденных тканей зуба с последующим пломбированием полости. В наших клиниках применяют только качественные пломбировочные и расходные материалы, которые позволяют создавать максимально функциональные и эстетичные реставрации. </p>

    <p>В процессе лечения применяется операционный микроскоп Zeiss OPMI Pico. Он помогает стоматологу проводить лечение на более высоком уровне за счет многократного увеличения области вмешательства. Микроскоп позволяет увидеть малейшие детали и анатомические особенности, которые невооруженным глазом легко не заметить. Лечение кариеса и корневых каналов с микроскопом выводит качество лечения на новый, более высокий уровень, обеспечивая пациенту прекрасный результат в долгосрочной перспективе.</p>

    <p>Под хирургической помощью обычно понимают удаление разрушенных зубов, которые невозможно вылечить консервативно или отпротезировать. Заполнить образовавшийся дефект в зубном ряде поможет <a href="/dent/impl/" target="_blank">процедура имплантации</a>, которую проводит стоматолог-имплантолог. В наших клиниках все манипуляции проводят только под мощным обезболиванием, максимально быстро и аккуратно.</p>

    <p>В сети клиник «Центр Стоматологической Имплантологии» для лечения и диагностики стоматологических заболеваний применяется только передовое оборудование и качественные материалы. Мы предлагаем услуги лучших стоматологов, имеющих внушительный запас знаний и богатый опыт работы с самыми сложными клиническими ситуациями. </p>

  </div>

</div>