<div data-page-type="clinic_contacts">

  <div class="content_block title_container">
    
    <div class="breadcrumbs_wrapper">

      <a class="breadcrumbs _menu_link" href="/">Центр Эстетической Стоматологии</a>
      <span class="breadcrumbs _menu_link"> → </span>
      <a class="breadcrumbs _menu_link" href="/contacts/">Контакты</a>

    </div>

    <h1>{{clinic.h1_title}}</h1>

  </div>

  <div class="content_block clinic_info_container">

    <div class="clinic_info_wrapper"
      data-type="clinic_info_block"
      data-id="{{clinic.clinic_id}}"
      data-name="{{clinic.clinic_title}}"
      data-address="{{clinic.clinic_address}}"
      data-phones="{{clinic.clinic_phone}}"
      data-work-hours-weekdays="{{clinic.clinic_opening_weekdays}}"
      data-work-hours-sat="{{clinic.clinic_opening_sat}}"
      data-work-hours-sun="{{clinic.clinic_opening_sun}}"
      data-alias="{{clinic.alias}}">


      <div class="swiper-container clinic_gallery">

        <div class="swiper-wrapper">

          {% for image in clinic.imageGalleries %}

            <div class="swiper-slide">

              <img src="/{{image.filepath}}" alt="">

            </div>

          {% endfor %}


        </div>

        <div class="diagonal_navigation">

          <div class="swiper-button-prev _diagonal_navigation swiper-button-disabled"></div>
          <span class="current_slide">01</span>
          <br>
          <span class="total_slides">05</span>
          <div class="swiper-button-next _diagonal_navigation"></div>

        </div>

      </div>

      <div class="clinic_main_info_wrapper">

        <div class="clinic_address info_item">
          <span class="info_item_title">Адрес:</span><br>
          <p>{{clinic.clinic_address | raw}}</p>
          <a class="_menu_link_dashed_black" href="#map">Показать на карте</a>
        </div>

        <div class="clinic_work_hours info_item">

          <span class="info_item_title">Время работы:</span><br>

          <table>
            <tbody>
              <tr>
                <td>Будни:</td>
                <td>{{clinic.clinic_opening_weekdays | raw}}</td>
              </tr>
              <tr>
                <td>Суббота:</td>
                <td>{{clinic.clinic_opening_sat | raw}}</td>
              </tr>
              <tr>
                <td>Воскресенье:</td>
                <td>{{clinic.clinic_opening_sun | raw}}</td>
              </tr>
            </tbody>
          </table>

        </div>

        <div class="clinic_phones info_item">
          <span class="info_item_title">Телефоны:</span><br>
          <p>
            {{clinic.clinic_phone | raw}}
          </p>
        </div>

        <div class="clinic_whats_app info_item">
          <span class="info_item_title">Whatsapp:</span><br>
          <p>
            {{clinic.clinic_whatsapp | raw}}
          </p>
        </div>

        <div class="clinic_e-mail info_item">
          <span class="info_item_title">Эл/почта:</span><br>
          {{clinic.clinic_mail | raw}}
        </div>
      </div>

      <div class="button_container">

        <button class="reception_button popup_button _button">Записаться на приём</button>

      </div>

      <div class="additional_info">

        <p>
          Стоматологическая помощь инвалидам и лицам с ограниченными 
          возможностями здоровья осуществляется по предварительной 
          записи
        </p>

      </div>

    </div>

    
  </div>
  
  <div class="content_block rating_map_block">
    
    <h3 class="rating_title">Рейтинг клиники</h3>

    {{this.render('/components/ratings.twig', {'clinicRatings': clinic.ratings}) | raw}}

    <a name="map"></a>

    <div class="clinic_map map" 
      data-latitude="{{clinic.clinic_latitude}}" 
      data-longitude="{{clinic.clinic_longitude}}"
      data-clinic-address="{{clinic.clinic_address_short}}">
      
    </div>

  </div>

  <div class="content_block doctors_container">
    
    <div class="doctors_title">

      <h2 class="_index_subtitle">Принимающие доктора</h2>

    </div>

    <div class="swiper-container doctors_wrapper">

      <div class="swiper-wrapper">

        {% for allDataItem in allData %}

      
          <div class="swiper-slide doctor_item_wrapper">       
  
            {{this.render('/components/doctor_card.twig', {'doctor': allDataItem.doctors[0], 'doctorsMedSpec' : doctorsAndMedSpec[doctor.doctor_id]}) | raw}}
  
          </div>
    
  
        {% endfor %}

      </div>

      <div class="swiper-pagination revolver_pagination"></div>

      <div class="revolver_navigation_wrapper">
        <div class="swiper-button-prev revolver_navigation"></div>
        <div class="swiper-button-next revolver_navigation"></div>
      </div>

    </div>

  </div>

  {% if clinic.reviews|length > 0 %} 

    <div class="content_block doctor_reviews" data-type="reviews_block">

      <a name="reviews"></a>

      <div class="reviews_title">
      
        <h2 class="_index_subtitle">Отзывы пациентов</h2>

        <div class="button_wrapper">

          <a href="/reviews/" class="_button _button_light _button_to_all _menu_link_no_borders_black"><span>Все отзывы</span> →</a>
    
          <button class="_button review_popup_button"><span>Добавить отзыв</span></button>

        </div>

      </div>

      <div class="swiper-container reviews_wrapper" data-type="reviews_block">

        <div class="swiper-wrapper">

          {% for review in clinic.reviews %}

          <div class="swiper-slide review_item_wrapper">       

            <div class="big_quotes"></div>
            <hr>
            <div class="review_text">

              {{review.review_text | raw}}

              <div class="show_all _hidden">
                <button class="read_more">Показать полностью</button>
              </div>

            </div>

            <p class="signature"><span>{{review.author}}</span> | <span>{{review.date}}</p>

          </div>

          {% endfor %}

        </div>

        <div class="swiper-pagination revolver_pagination"></div>

        <div class="revolver_navigation_wrapper">
          <div class="swiper-button-prev revolver_navigation"></div>
          <div class="swiper-button-next revolver_navigation"></div>
        </div>
        
      </div>

    </div>

  {% endif %}

</div>

<div class="popup_filter_bg">

  <div class="scroll_block">

    <div class="review_item_wrapper _hidden">
      
      <div class="close_icon"></div>  

      <div class="big_quotes"></div>

      <hr>

      <div class="review_text"></div>

      <p class="signature"></p>

      <div class="popup_close_button">Закрыть</div>       
  
    </div>

  </div>
  
</div>

<script defer src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>