<div data-page-type="special_deals_listing">

  <div class="content_block title_container">

    <ul class="breadcrumbs_wrapper" itemscope itemtype="https://schema.org/BreadcrumbList">

      <li class="breadcrumbs_item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <a class="_menu_link_no_borders" href="/" itemtype="https://schema.org/Thing" itemprop="item">
          <span class="item_name" itemprop="name"><span class="last_breadcrumb">✅</span> Центр Стоматологической Имплантологии</span>
        </a>
        <meta itemprop="position" content="1" />
      </li>
      
    </ul>

    <h1>Спецпредложе&shy;ния</h1>

  </div>

  <div class="content_block listing_container">

    {% for deal in deals %}
    
      <div class="deal_item_wrapper">       

        <a class="_menu_link_no_borders" href="/specialnoe/{{deal.alias}}/">

          <div class="deal_item">

            <div class="deal_img" data-deal-alias="{{deal.alias}}">
              <img src="/images/uploaded/deals/{{deal.deals_id}}/{{deal.deals_image_front}}" alt="">
            </div>

            <div class="deal_text">
              <h4>{{deal.deals_title | raw}}</h4>
              <p>{{deal.deals_index_description | raw}}</p>
            </div>

          </div>

        </a>

      </div>

    {% endfor %}

  </div>

</div>
