<div data-page-type="special_deals_listing">

  <div class="content_block title_container">

    <a class="breadcrumbs _menu_link" href="/">Центр Эстетической Стоматологии</a>

    <h1>Спецпредложе&shy;ния</h1>

  </div>

  <div class="content_block listing_container">

    {% for deal in deals %}
    
      <div class="deal_item_wrapper">       

        <a class="_menu_link_no_borders" href="/specialnoe/{{deal.alias}}">

          <div class="deal_item">

            <div class="deal_img" style="background: url(/img/{{deal.deals_image_front}});" data-deal-alias="{{deal.alias}}"></div>

            <div class="deal_text">
              <h4>{{deal.deals_title}}</h4>
              <p>{{deal.deals_index_description}}</p>
            </div>

          </div>

        </a>

      </div>

    {% endfor %}

  </div>

</div>
