<div data-page-type="service_listing">

  <div class="title_wrapper">

    <a class="breadcrumbs _menu_link" href="">breadcrumbs</a>

    <h1>Наши услуги</h1>

  </div>

  <div class="listing_container">

    <div class="content_block listing_wrapper">

      {% for serviseMenu in servises %}

        {% if serviseMenu.parent_id == 0  %}

          <div class="listing_block">

            <div class="service_menu_item_wrapper">

              <img src="/img/{{serviseMenu.image}}" alt="">

              <h4 class="service_menu_item">
  
                <a href="/dent/{{serviseMenu.alias}}" class="_menu_link">
                  {{serviseMenu.menu_title | raw}}
                </a>
  
              </h4>

            </div>

            <div class="listing_first_level level_wrapper" data-first-level-count={{serviseMenu.first_level_child_count}}>

              {% set totalValue = serviseMenu.first_level_child_count %}

              <div class="listing_first_level level_wrapper column">

                {% set currentIndex = 0 %}

                {% for serviseFirst in servises %}

                  {% if serviseFirst.parent_id == serviseMenu.old_id %}

                    {% set currentIndex = currentIndex + 1 %}
                    
                    {% if currentIndex > 0 and currentIndex <= (totalValue / 3)|round(0, 'ceil') %}

                      {{this.render(
                        '/components/service_listing_inner_levels.twig',
                        {
                          'servises': servises,
                          'serviseMenu': serviseMenu,
                          'serviseFirst': serviseFirst
                        }
                      ) | raw}}

                    {% endif %}

                  {% endif %}

                {% endfor %}

              </div>

              <div class="listing_first_level level_wrapper column">

                {% set currentIndex = 0 %}
              
                {% for serviseFirst in servises %}

                  {% if serviseFirst.parent_id == serviseMenu.old_id  %}

                    {% set currentIndex = currentIndex + 1 %}

                    {% if currentIndex > (totalValue / 3)|round(0, 'ceil') and currentIndex <= (2 * totalValue / 3)|round(0, 'ceil')  %}

                      {{this.render(
                        '/components/service_listing_inner_levels.twig',
                        {
                          'servises': servises,
                          'serviseMenu': serviseMenu,
                          'serviseFirst': serviseFirst
                        }
                      ) | raw}}

                    {% endif %}

                  {% endif %}

                {% endfor %}
              
              </div>

              <div class="listing_first_level level_wrapper column">

                {% set currentIndex = 0 %}

                {% for serviseFirst in servises %}

                  {% if serviseFirst.parent_id == serviseMenu.old_id  %}

                  {% set currentIndex = currentIndex + 1 %}

                    {% if currentIndex > (2 * totalValue / 3)|round(0, 'ceil') and currentIndex <= totalValue  %}

                      {{this.render(
                        '/components/service_listing_inner_levels.twig',
                        {
                          'servises': servises,
                          'serviseMenu': serviseMenu,
                          'serviseFirst': serviseFirst
                        }
                      ) | raw}}

                    {% endif %}

                  {% endif %}

                {% endfor %}
              
              </div>

              <div class="listing_first_level level_wrapper column _pad">

                {% set currentIndex = 0 %}

                {% for serviseFirst in servises %}

                  {% if serviseFirst.parent_id == serviseMenu.old_id  %}

                  {% set currentIndex = currentIndex + 1 %}

                    {% if currentIndex <= (totalValue / 2)|round(0, 'ceil')  %}

                      {{this.render(
                        '/components/service_listing_inner_levels.twig',
                        {
                          'servises': servises,
                          'serviseMenu': serviseMenu,
                          'serviseFirst': serviseFirst
                        }
                      ) | raw}}

                    {% endif %}

                  {% endif %}

                {% endfor %}
              
              </div>

              <div class="listing_first_level level_wrapper column _pad">

                {% set currentIndex = 0 %}

                {% for serviseFirst in servises %}

                  {% if serviseFirst.parent_id == serviseMenu.old_id  %}

                  {% set currentIndex = currentIndex + 1 %}

                    {% if currentIndex > (totalValue / 2)|round(0, 'ceil')  %}

                      {{this.render(
                        '/components/service_listing_inner_levels.twig',
                        {
                          'servises': servises,
                          'serviseMenu': serviseMenu,
                          'serviseFirst': serviseFirst
                        }
                      ) | raw}}

                    {% endif %}

                  {% endif %}

                {% endfor %}

              </div>

            </div>
            
            <div class="collapse_wrapper">
              <span class="close_block">Свернуть</span>
              <span class="open_block _active">Развернуть</span>
            </div>
            
          </div>

        {% endif %}
  
      {% endfor %}

    </div>

  </div>

</div>