<div data-page-type="service_page">
  
  <div class="content_block title_container">
    
    <div class="title_wrapper">

      <div class="breadcrumbs_wrapper">
        <a class="breadcrumbs _menu_link" href="/">Центр Эстетической Стоматологии</a>
        <a class="breadcrumbs _menu_link" href="/dent/">Услуги</a>
      </div>

      <div class="top_img"></div>

      <h1>{{currentService.menu_title}}</h1>

      <button class="_button popup_button">Записаться&nbsp;на&nbsp;приём</button>

    </div>

  </div>

  <div class="content_block page_menu_container">

    <div class="service_description">

      <p>{{currentService.head_text | raw}}</p>

      <button class="read_more">Читать полностью</button>

    </div>

    <div class="page_menu_wrapper">

      <h4>Содержание</h4>
      
      <div class="chapter_link_wrapper">
        <a class="chapter_link _menu_link_dashed_black" href="#prices">Цены на услуги</a>
      </div>
      <div class="chapter_link_wrapper">
        <a class="chapter_link _menu_link_dashed_black" href="#doctors">Специалисты отделения</a>
      </div>
      <div class="chapter_link_wrapper">
        <a class="chapter_link _menu_link_dashed_black" href="#description">Особенности проведения</a>
      </div>
      <div class="chapter_link_wrapper">
        <a class="chapter_link _menu_link_dashed_black" href="#when_say">Когда обращаться</a>
      </div>
      <div class="chapter_link_wrapper">
        <a class="chapter_link _menu_link_dashed_black" href="#reviews">Отзывы пациентов</a>
      </div>
      <div class="chapter_link_wrapper">
        <a class="chapter_link _menu_link_dashed_black" href="#faq">Вопросы и ответы</a>
      </div>
        
    </div>

  </div>

  <div class="content_block subservice_wrapper">

    <div class="service_image_wrapper">

      <img src="/img/{{currentService.image}}" alt="">

    </div>
  
    <div class="subservice_listing">

      {% for serviseFirst in childrenService %}

        <div class="subservice_listing_item item_wrapper">

          <a class="_link_black" href="/dent/{{currentService.alias}}/{{serviseFirst.alias}}">     

            <span>{{serviseFirst.menu_title}}</span> 
            
          </a>

        </div>

      {% endfor %}

    </div>
    
    <div class="collapse_wrapper">
      <span class="close_block read_more">Свернуть</span>
      <span class="open_block read_more _hidden">Развернуть</span>
    </div>
      
  </div>

  <div class="content_block prices_wrapper">

    <a name="prices"></a>

    <h2>{{currentService.price_title}}</h2>

    <div class="price_item_wrapper">
      <p class="price_name">Костная пластика челюстно-лицевой области</p>
      <div class="line"></div>
      <p class="price_value">8 332 руб.</p>
    </div>

    <div class="price_item_wrapper">
      <p class="price_name">Костная пластика челюстно-лицевой области с применением аутогенных костных блоков</p>
      <div class="line"></div>
      <p class="price_value">69 969 руб.</p>
    </div>

    <div class="price_item_wrapper">
      <p class="price_name">Прием (осмотр, консультация) врача-стоматолога хирурга</p>
      <div class="line"></div>
      <p class="price_value">1 500 руб.</p>
    </div>

    <div class="price_item_wrapper">
      <p class="price_name">Вскрытие и дренирование одонтогенного абсцесса</p>
      <div class="line"></div>
      <p class="price_value">851 руб.</p>
    </div>

    <div class="price_item_wrapper">
      <p class="price_name">Лечение перикоронита (промывание, рассечение и/или иссечение капюшона)</p>
      <div class="line"></div>
      <p class="price_value">1 588 руб.</p>
    </div>

    <div class="price_item_wrapper">
      <p class="price_name">Костная пластика челюстно-лицевой области</p>
      <div class="line"></div>
      <p class="price_value">8 332 руб.</p>
    </div>

    <div class="price_item_wrapper">
      <p class="price_name">Костная пластика челюстно-лицевой области с применением аутогенных костных блоков</p>
      <div class="line"></div>
      <p class="price_value">69 969 руб.</p>
    </div>

    <div class="show_all _hidden">
      <button class="read_more">Показать все цены</button>
    </div>
    
  </div>

  <div class="content_block doctors_container">

    <a name="doctors"></a>
    
    <div class="doctors_title">

      <h2>Cпециалисты</h2>

      <form action="/specialists/">
        <button class="_button _button_light _button_to_all"><span>Все стоматолог-хирурги</span> →</button>
      </form>

    </div>

    <div class="swiper-container doctors_wrapper">

      <div class="swiper-wrapper">

        {% for doctor in doctors %}
    
          <div class="swiper-slide doctor_item_wrapper">       
  
            {{this.render('/components/doctor_card.twig', {'doctor': doctor, 'doctorsMedSpec' : doctorsAndMedSpec[doctor.doctor_id]}) | raw}}
  
          </div>
  
        {% endfor %}

      </div>

      <div class="revolver_navigation_wrapper">

        <div class="swiper-button-prev revolver_navigation"></div>
        {# <div class="swiper-pagination revolver_pagination"></div> #}
        <div class="swiper-button-next revolver_navigation"></div>

      </div>

    </div>

  </div>

  <div class="content_block description_wrapper">

    <a name="description"></a>

    <h2>Стоматология хирургия: особенности проведения</h2>

    <ol class="big_number_list">

      <li>
        <p>
          Доктора проводят диагностику, пациенту делают снимок, оттиск зубного ряда, 
          при необходимости проводят дополнительные обследования, на данном этапе 
          происходит расчет времени лечения, определение его сложности, также 
          становится известна приблизительная стоимость процедур.
        </p>
        <hr>
      </li>

      <li>
        <p>
          Санация полости рта – нередко у пациентов обнаруживается целый ряд нарушений 
          здоровья, многие из которых могут являться причиной появления дефектов 
          зубного ряда, а другие быть препятствием для начала ортодонтического лечения.
        </p>
        <hr>
      </li>

      <li>
        <p>
          После устранения сопутствующих проблем, пациенту устанавливают брекет-систему, 
          каппы или пластины.
        </p>
        <hr>
      </li>

      <li>
        <p>
          Ретенционный период – после снятия брекет-системы используется ретенционный 
          аппарат или фиксатор (съемный или постоянный) для закрепления результата, 
          срок носки назначается индивидуально.
        </p>
      </li>

    </ol>

    <div class="content_note">
      
      <p>
        Доктор по завершении диагностики определяет необходимость 
        в хирургическом вмешательстве и определяет перечень 
        проводимых процедур.
      </p>

    </div>

  </div>

  <div class="content_block service_video_container">
    
    <div class="service_video_title">

      <h3>Несколько видео из хирургической стоматологии</h3>

    </div>

    <div class="swiper-container service_video_wrapper">

      <div class="swiper-wrapper">

        {# {% for i in 1..10 %}
    
          <div class="swiper-slide service_video_item_wrapper">
  
            <video src="/video/video_test_service.mp4" controls="controls"></video>

            <p>Хирургическая стоматология. Удаление кисты зуба и резекция корня зуба.</p>
  
          </div>
  
        {% endfor %} #}

          <div class="swiper-slide service_video_item_container">
  

            <div class="service_video_item_wrapper">

              <div id="video_item_0" class="servise_video"></div>
  
              <div class="play_button_wrapper">
                <button class="play_button"></button>
              </div>

            </div>

            <p>Хирургическая стоматология. Удаление кисты зуба и резекция корня зуба.</p>
  
          </div>

          <div class="swiper-slide service_video_item_container">
  
            <div class="service_video_item_wrapper">

              <div id="video_item_1" class="servise_video"></div>
  
              <div class="play_button_wrapper">
                <button class="play_button"></button>
              </div>

            </div>

            <p>Хирургическая стоматология. Удаление кисты зуба и резекция корня зуба.</p>
  
          </div>

          <div class="swiper-slide service_video_item_container">
  
            <div class="service_video_item_wrapper">

              <div id="video_item_2" class="servise_video"></div>
  
              <div class="play_button_wrapper">
                <button class="play_button"></button>
              </div>

            </div>

            <p>Хирургическая стоматология. Удаление кисты зуба и резекция корня зуба.</p>
  
          </div>

      </div>

      <div class="revolver_navigation_wrapper">

        <div class="swiper-button-prev revolver_navigation"></div>
        {# <div class="swiper-pagination revolver_pagination"></div> #}
        <div class="swiper-button-next revolver_navigation"></div>

      </div>

    </div>

    <div class="content_note">

      <span>Хирургическая стоматология - это отдельный раздел, который включает обширный перечень работ:</span> 

      <ol>

        <li>удаление зубов разной степени сложности;</li>
        <li>резекция корней;</li>
        <li>гемисекция;</li>
        <li>удаление кист и гранулем;</li>
        <li>восстановление и пластика мягких и костных тканей полости рта;</li>
        <li>имплантирование;</li>
        <li>операции на уздечке языка и губ.</li>
        
      </ol>

    </div>

  </div>

  <div class="content_block when_say_container">

    <a name="when_say"></a>

    <h4>Когда необходимо обратиться в стоматологию-хирургию?</h4>

    <div class="content_note _dashes">

      <span>Оперативное вмешательство может понадобиться в следующих случаях:</span> 

      <ul>

       <li>при появлении воспалительных процессов в мягких тканях полости;</li>
       <li>когда разрушен резец вследствие физических повреждений или поражения кариесом и другими болезнями;</li>
       <li>появление опухолей, гранул, кист, лечение которых консервативным методом невозможно;</li>
       <li>врожденные или приобретенные дефекты полости рта.</li>
        
      </ul>

    </div>

  </div>

  <div class="content_block photo_example_wrapper">

    <h3>Несколько фото с примерами из хирургической стоматологии</h3>

    <div class="swiper-container photo_gallery_wrapper">

      <div class="swiper-wrapper">

        {% for i in 1..10 %}
    
          <div class="swiper-slide photo_example_item">

            <div 
              class="photo_example_image" 
              style="background: url('/img/test_img/image 65.png'); background-size: contain; background-repeat: no-repeat"
            >
            </div>

          </div>

        {% endfor %}

      </div>

      <div class="revolver_navigation_wrapper">

        <div class="swiper-button-prev revolver_navigation"></div>
        <div class="swiper-button-next revolver_navigation"></div>

      </div>
  
    </div>

  </div>

  <div class="content_block service_advantages_wrapper">

    <div class="director_word_container">

      <div class="director_word_wrapper">

        <div class="director_word_img"></div>

        <h2>Хирургическая стоматология от Центра эстетической стоматологии</h2>

        <p>
          «Хирургия полости рта является самым сложным и одновременно самым интересным разделом стоматологии.
          Мы прекрасно знаем, что каждый пациент испытывает страх, услышав слова — хирург, удаление, 
          имплантация. Не бойтесь! Итоговый результат приведет Вас в восторг!<br><br>Наш опыт и современные 
          технологии, применяемые в наших клиниках, позволят Вам понять, что хирургия и имплантация, 
          абсолютно безболезненные и даже приятные процедуры. Огромное внимание хирурги наших клиник 
          уделяют остеопластике, т. е. пластике костной ткани на верхней и нижней челюсти.
        </p>

        <div class="director_word_signature_wrapper">

          <p>
            <span>Пастьян Андрей Альбертович</span><br>
            Главный врач «Центр стоматологической имплантологии»,
            хирург-имплантолог, доктор медицины (Германия) 
          </p>

          <div class="director_word_signature"></div>

        </div>

      </div>

    </div>

    <div class="adwises_container">

      <h3>Когда необходимо обратиться в стоматологию-хирургию?</h3>

      <div class="content_note">

        <p>
          От специалиста, который проводит операцию, зависит не только 
          конечный результат, но и качество, безболезненность 
          выполненного вмешательства.
        </p>

      </div>

      <p>
        В центре работают стоматологи-хирурги с огромным опытом работы, 
        благодаря которому вы получите услуги стоматологии высшего класса. 
        Это подтверждается многочисленными отзывами клиентов. Специалисты 
        справятся с процедурами любой сложности: от просто удаления зуба 
        до сложных восстановительных операций в ротовой полости.
      </p>

      <div class="content_note _dashes _advantages">

        <span>Преимущества:</span> 

        <ul>

          <li>
            Многоступенчатая стерилизация инструментов, которая гарантирует 
            стерильность проведения вмешательства. Это обеспечивает 
            безопасность проведения процедур, и исключает риск попадания 
            инфекции.
          </li>
          <li>
            Использование методов обезболивания делает комфортным каждый 
            этап лечения. При необходимости в сложных операциях используется 
            не только местное замораживание лечащейся области, но и полное 
            погружение в сон.
          </li>
          <li>В клиниках используется современное оборудование и инструменты, 
            благодаря чему вы получите услуги с высшей степенью эстетики.
          </li>
          
        </ul>

      </div>

      <p>
        Центр предоставляет услуги стоматологии хирургии высшего класса в 
        Москве по оптимальной стоимости. Цены можно узнать в прайс-листе 
        сайта или при посещении врача.
      </p>

      
    </div>

    <div class="content_note analysis_container">

      <h4>Акриловые протезы: плюсы и минусы</h4>


      <div class="analysis_wrapper  _advantages">

        <span>Преимущества акриловых протезов:</span> 

        <ul>

          <li>
            Доступность;
          </li>
          <li>
            Гибкость материала; 
          </li>
          <li>
            Длительный срок службы;
          </li>
          <li>
            Возможность установки в любом возрасте;
          </li>
          <li>
            Длительное ношение.
          </li>
          
        </ul>

      </div>

      <div class="analysis_wrapper _disadvantages">

        <span>Недостатки акриловых протезов:</span> 

        <ul>

          <li>
            Пористость;
          </li>
          <li>
            Хрупкость;
          </li>
          <li>
            Аллергенность.
          </li>
          
        </ul>

      </div>

    </div>

    <div class="content_block photo_example_wrapper">

      <h3>Несколько фото с примерами из хирургической стоматологии</h3>
  
      <div class="swiper-container photo_gallery_wrapper">
  
        <div class="swiper-wrapper">
  
          {% for i in 1..10 %}
      
            <div class="swiper-slide photo_example_item">
  
              <div 
                class="photo_example_image" 
                style="background: url('/img/test_img/image 65.png'); background-size: contain; background-repeat: no-repeat"
              >
              </div>
  
            </div>
  
          {% endfor %}
  
        </div>
  
        <div class="revolver_navigation_wrapper">
  
          <div class="swiper-button-prev revolver_navigation"></div>
          <div class="swiper-button-next revolver_navigation"></div>
  
        </div>
    
      </div>
  
    </div>

    
  </div>
  
  <div class="content_block recall_wrapper" data-page-type="recall_form">

    {{this.render('/components/recall_form.twig') | raw}}

  </div>

  <div class="content_block doctor_reviews" data-type="reviews_block">

    <a name="reviews"></a>

    <div class="reviews_title">
    
      <h2 class="_index_subtitle">Отзывы пациентов</h2>

      <div class="button_wrapper">

        <form action="/reviews/">
          <button class="_button _button_light _button_to_all"><span>Все отзывы</span> →</button>
        </form>
  
        <form action="/">
          <button class="_button review_popup_button"><span>Добавить отзыв</span></button>
        </form>

      </div>

    </div>

    <div class="swiper-container reviews_wrapper">

      <div class="swiper-wrapper">
    
        <div class="swiper-slide review_item_wrapper">       

          <div class="big_quotes"></div>
          <hr>
          <div class="review_text">

            <p>
              У Андрея Альбертовича я ставлю импланты уже не первый раз, 
              но конечно на разные зубы. И всегда, когда я к нему приходил, я ни разу не пожалел. 
              Уровень его профессионализма действительно достоин уважения, как он мне позже рассказал, 
              он даже на практике у ведущих специалистов в Германии был. В Центре Имплантологии 
              все на высшем уровне: и врачи, и обслуживание, и сервис. А главное, цены не кусаются.
            </p>

            <div class="show_all _hidden">
              <button class="read_more">Показать полностью</button>
            </div>

          </div>

          <p>Антипова Евгения 28 лет | 10 сентября 2015</p>

        </div>

        <div class="swiper-slide review_item_wrapper">       

          <div class="big_quotes"></div>
          <hr>
          <div class="review_text">

            <p>
              Мне надо было два импланта поставить, а эта процедура недешевая Мне надо было два импланта 
              поставить, а эта процедура недешевая, да и довольно сложная и болезненная, как мне 
              рассказывали. Обратился в Центр имплантологии, моим врачом был Пастьян А.А. оказалось все 
              гораздо проще и быстрее, чем я предполагал. Врач – профессионал с большой буквы. Особой 
              боли не было, легкий дискомфорт, отдельно порадовала итоговая сумма лечения, вполне 
              доступно! Хорошо, что именно в вашу стоматологию попал случайно.
              Мне надо было два импланта поставить, а эта процедура недешевая Мне надо было два импланта 
              поставить, а эта процедура недешевая, да и довольно сложная и болезненная, как мне 
              рассказывали. Обратился в Центр имплантологии, моим врачом был Пастьян А.А. оказалось все 
              гораздо проще и быстрее, чем я предполагал. Врач – профессионал с большой буквы. Особой 
              боли не было, легкий дискомфорт, отдельно порадовала итоговая сумма лечения, вполне 
              доступно! Хорошо, что именно в вашу стоматологию попал случайно.
              Мне надо было два импланта поставить, а эта процедура недешевая Мне надо было два импланта 
              поставить, а эта процедура недешевая, да и довольно сложная и болезненная, как мне 
              рассказывали. Обратился в Центр имплантологии, моим врачом был Пастьян А.А. оказалось все 
              гораздо проще и быстрее, чем я предполагал. Врач – профессионал с большой буквы. Особой 
              боли не было, легкий дискомфорт, отдельно порадовала итоговая сумма лечения, вполне 
              доступно! Хорошо, что именно в вашу стоматологию попал случайно.
            </p>

            <div class="show_all _hidden">
              <button class="read_more">Показать полностью</button>
            </div>

          </div>

          <p>Антипова Евгения 28 лет | 10 сентября 2015</p>

        </div>

        <div class="swiper-slide review_item_wrapper">       

          <div class="big_quotes"></div>
          <hr>
          <div class="review_text">

            <p>
              Когда встал вопрос об имплантации зубов долго выбирал клинику и 
              настраивался на посещение имплантолога. Увидел рекламу в интернете 
              и записался в ЦЭС. Попал в руки суперпрофессионала Пастьяна А.А. 
              Всем рекомендую!
            </p>

            <div class="show_all _hidden">
              <button class="read_more">Показать полностью</button>
            </div>

          </div>

          <p>Антипова Евгения 28 лет | 10 сентября 2015</p>

        </div>
        
        <div class="swiper-slide review_item_wrapper">       

          <div class="big_quotes"></div>
          <hr>
          <div class="review_text">

            <p>
              У Андрея Альбертовича я ставлю импланты уже не первый раз, 
              но конечно на разные зубы. И всегда, когда я к нему приходил, я ни разу не пожалел. 
              Уровень его профессионализма действительно достоин уважения, как он мне позже рассказал, 
              он даже на практике у ведущих специалистов в Германии был. В Центре Имплантологии 
              все на высшем уровне: и врачи, и обслуживание, и сервис. А главное, цены не кусаются.
            </p>

            <div class="show_all _hidden">
              <button class="read_more">Показать полностью</button>
            </div>

          </div>

          <p>Антипова Евгения 28 лет | 10 сентября 2015</p>

        </div>

        <div class="swiper-slide review_item_wrapper">       

          <div class="big_quotes"></div>
          <hr>
          <div class="review_text">

            <p>
              Мне надо было два импланта поставить, а эта процедура недешевая Мне надо было два импланта 
              поставить, а эта процедура недешевая, да и довольно сложная и болезненная, как мне 
              рассказывали. Обратился в Центр имплантологии, моим врачом был Пастьян А.А. оказалось все 
              гораздо проще и быстрее, чем я предполагал. Врач – профессионал с большой буквы. Особой 
              боли не было, легкий дискомфорт, отдельно порадовала итоговая сумма лечения, вполне 
              доступно! Хорошо, что именно в вашу стоматологию попал случайно.
            </p>

            <div class="show_all _hidden">
              <button class="read_more">Показать полностью</button>
            </div>

          </div>

          <p>Антипова Евгения 28 лет | 10 сентября 2015</p>

        </div>

        <div class="swiper-slide review_item_wrapper" data-type="reviews_block">       

          <div class="big_quotes"></div>
          <hr>
          <div class="review_text">

            <p>
              Когда встал вопрос об имплантации зубов долго выбирал клинику и 
              настраивался на посещение имплантолога. Увидел рекламу в интернете 
              и записался в ЦЭС. Попал в руки суперпрофессионала Пастьяна А.А. 
              Всем рекомендую!
            </p>

            <div class="show_all _hidden">
              <button class="read_more">Показать полностью</button>
            </div>

          </div>

          <p>Антипова Евгения 28 лет | 10 сентября 2015</p>

        </div>

      </div>

      <div class="revolver_navigation_wrapper">

        <div class="swiper-button-prev revolver_navigation"></div>
        {# <div class="swiper-pagination revolver_pagination"></div> #}
        <div class="swiper-button-next revolver_navigation"></div>

      </div>

    </div>

  </div>

  <div class="content_block faq_container" data-type="faq">

    <a name="faq"></a>

    <h2>Вопросы и ответы о хирургии в стоматологии</h2>
    
    {{this.render('/components/faq.twig', {'faq': faq}) | raw}}
    
  </div>
  
  <div class="content_block checkup_container">
    
    <h4>Статью проверил эксперт</h4>

    <div class="auditor_wrapper">

      <div class="auditor_image"></div>

      <p>
        <span class="auditor_name">Климович Виктория&nbsp;Борисовна</span><br>
        <span>Квалифицированный специалист в области ортодонтии, челюстно-лицевой хирургии и эстетической реставрации зубов, опыт&nbsp;работы&nbsp;-&nbsp;11&nbsp;лет</span>
      </p>
    </div>

  </div>


  <div class="content_block rating_container">

    <p>Оцените качество страницы:</p>

    <div class="stars_wrapper"></div>

    <p class="votes_stars_value">110 голосов, 4,8 из 5</p>

  </div>

</div>

<div class="popup_filter_bg"> 

  <div class="scroll_block">

    <div class="review_item_wrapper _hidden">
      
      <div class="close_icon"></div>  

      <div class="big_quotes"></div>

      <hr>

      <div class="review_text">
  
        <p class="main_text"></p>
        <p class="signature"></p>
  
      </div>

      <div class="popup_close_button">Закрыть</div>       
  
    </div>

  </div>
  
</div>

<script src="//www.youtube.com/player_api"></script>

<script>
  var player = [];
  
  function onYouTubePlayerAPIReady() {
      player[0] = new YT.Player('video_item_0', {
        videoId: 'Sn7CC9Z51so',
        width: '496',
        height: '286',
      });
      $('#video_item_0').siblings('.play_button_wrapper').find('.play_button').on('click', function() {
        player[0].playVideo();
        $(this).closest('.play_button_wrapper').addClass('_hidden');
      });

      player[1] = new YT.Player('video_item_1', {
        videoId: 'Sn7CC9Z51so',
        width: '496',
        height: '286',
      });
      $('#video_item_1').siblings('.play_button_wrapper').find('.play_button').on('click', function() {
        player[1].playVideo();
        $(this).closest('.play_button_wrapper').addClass('_hidden');
      });

      player[2] = new YT.Player('video_item_2', {
        videoId: 'Sn7CC9Z51so',
        width: '496',
        height: '286',
      });
      $('#video_item_2').siblings('.play_button_wrapper').find('.play_button').on('click', function() {
        player[2].playVideo();
        $(this).closest('.play_button_wrapper').addClass('_hidden');
      });
      // document.getElementById('pauseYoutube1').onclick = function() {play.pauseVideo();};
  };
</script>