<div data-page-type="index">

  <div class="content_block top_container">

    <div class="top_wrapper">

      <h1>Центр Эстетической Стоматологии</h1>

      <div class="top_list">

        <div class="top_list_item"><p>Премиальный<br class="top_text_br"> сегмент&nbsp;услуг</p></div>
        <div class="top_list_item"><p>Специалисты<br class="top_text_br"> экстра-класса</p></div>
        <div class="top_list_item"><p>Инновационные<br class="top_text_br"> материалы<span> и оборудование</p></span></div>

      </div>

      <button class="_button popup_button">Записаться на приём</button>

      <div class="top_img"></div>

    </div>

  </div>

  <div class="content_block servises_container">

    <h2 class="_index_subtitle">Лечение зубов по современным технологиям</h2>

    <div class="servises_wrapper">

      {% for service in servises %}

        <div class="services_item">

          <img class="services_item_img" src="img/{{service.image}}" alt="">

          <a class="_menu_link" href="/dent/{{service.alias}}">{{service.menu_title}}</a>

        </div>

      {% endfor %}

    </div>

  </div>

  <div class="content_block deals_container">

    <div class="deals_title">

      <h2 class="_index_subtitle">Спецпредложения</h2>

      <form action="/specialnoe/">
        <button class="_button _button_light">Все спецпредложения →</button>
      </form>

    </div>

    <div class="swiper-container deals_wrapper">

      <div class="swiper-wrapper">

        {% for deal in deals %}
    
          <div class="swiper-slide deal_item_wrapper">       
  
            <a class="_menu_link_no_borders" href="/specialnoe/{{deal.alias}}">

              <div class="deal_item" data-bg-image="/img/{{deal.deals_index_image}}">

                <div class="deal_text">
                  <h4>{{deal.deals_title}}</h4>
                  <p>{{deal.deals_index_description}}</p>
                </div>

              </div>

            </a>
  
          </div>
  
        {% endfor %}

      </div>

      <div class="swiper-button-prev revolver_navigation"></div>
      {# <div class="swiper-pagination revolver_pagination"></div> #}
      <div class="swiper-button-next revolver_navigation"></div>

    </div>

  </div>

  <div class="content_block clinic_description_container">

    <div class="clinic_description_content">

      <h2 class="_index_subtitle">О клинике</h2>

      <p>
        Оперативное вмешательство в стоматологии используется в случаях, 
        когда неэффективно проведение консервативного лечения. 
        Стоматологическая хирургия подразумевает операции, которые 
        проводятся в ротовой полости и на челюсти. Центр Эстетической 
        Стоматологии оказывает широкий перечень услуг, в т. ч. осуществляет 
        хирургию различной сложности.
      </p>
      <br>
      <p>
        Иногда зуб невозможно спасти, тогда мы проводим быстрое и 
        безопасное удаление. Уточнить перечень процедур и их цены можно 
        на приеме или в прайсе клиники. Хирурги ЦЭС выполняют 
        зубосохраняющие операции, предлагают оперативные методы лечения 
        заболеваний твердых и мягких тканей ротовой полости. С возможностями 
        и ценами стоматологической хирургии можно познакомиться на сайте.
      </p>

    </div>

    <div class="swiper_container clinic_description_gallery">

      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <img src="/img/about_photo_test.png" alt="">
        </div>

        <div class="swiper-slide">
          <img src="/img/about_photo_test.png" alt="">
        </div>

        <div class="swiper-slide">
          <img src="/img/about_photo_test.png" alt="">
        </div>

        
      </div>

      <div class="diagonal_navigation">
        <div class="swiper-button-prev _diagonal_navigation"></div>
        <span class="current_slide">01</span>
        <br>
        <span class="total_slides">03</span>
        <div class="swiper-button-next _diagonal_navigation"></div>

      </div>

    </div>

  </div>

  <div class="doctors_advantages_bg">
    <div class="doctors_advantages_bg_inner">

      <div class="content_block doctors_container">
    
        <div class="doctors_title">
    
          <h2 class="_index_subtitle">Наши специалисты</h2>
    
          <p>
            Было бы неплохо поставить здесь какой-то обычный тект про то, 
            что средний стаж наших специалистов порядка 15 лет. Что мы 
            отбираем только лучших стоматологов Москвы, которые регулярно 
            подтверждают свою квалификацию.
          </p>

          <form action="/specialists/">
            <button class="_button _button_light">Все врачи →</button>
          </form>
    
        </div>

        <div class="swiper-container doctors_wrapper">

          <div class="swiper-wrapper">
    
            {% for doctor in doctors %}
        
              <div class="swiper-slide doctor_item_wrapper">       
      
                {{this.render('/components/doctor_card.twig', {'doctor': doctor}) | raw}}
      
              </div>
      
            {% endfor %}
    
          </div>
    
          <div class="swiper-button-prev revolver_navigation"></div>
          {# <div class="swiper-pagination revolver_pagination"></div> #}
          <div class="swiper-button-next revolver_navigation"></div>
    
        </div>
    
    
      </div>
    
      <div class="content_block advantages_container">
    
        <div class="advantages_wrapper">
    
          <div class="advantages_title">
      
            <h2 class="_index_subtitle">Не просто стоматология</h2>
      
            <p>
              Мы стремимся к тому, чтобы услуги были высочайшего класса.
              Сюда тоже следует поставить короткий и ёмкий текст про то, 
              какие мы молодцы и у нас всё на высшем уровне.
            </p>
      
          </div>
      
          <div class="advantages_content">
      
            <div class="advantages_item">
              <p>Междисциплинарный подход в лечении</p>
            </div>
            
            <div class="advantages_item">
              <p>Сотрудничество со всеми страховыми компаниями Москвы</p>
            </div>
      
            <div class="advantages_item">
              <p>Пожизненная гарантия на имплантаты</p>
            </div>
      
            <div class="advantages_item">
              <p>Программа лояльности пациентов</p>
            </div>
      
            <div class="advantages_item">
              <p>Лечение во сне</p>
            </div>
      
            <div class="advantages_item">
              <p>Удобные локации<br> <span>в шаговой доступности от метро</span></p>
            </div>
            
          </div>
      
          <div class="advantages_img_wrapper">
            <a class="_menu_link" href="/lizcenz/">
      
              <div class="advantages_img"></div>
              <p class="advantages_text">Сертификаты и лицензии</p>
              
            </a>
          </div>
    
        </div>
    
      </div>

    </div>

  </div>

  <div class="content_block reviews_cotnainer">

    <div class="reviews_cotnainer_bg"></div>

    <div class="reviews_title">
    
      <h2 class="_index_subtitle">Что о нас говорят</h2>

      <form action="/reviews/">
        <button class="_button _button_light">Все отзывы →</button>
      </form>

    </div>

    <div class="swiper-container reviews_wrapper">

      <div class="swiper-wrapper">

        {% for review in reviews %}
    
          <div class="swiper-slide review_item_wrapper">       
  
            <div class="big_quotes"></div>
            <hr>
            <div class="review_text">{{review.review_text | raw}}</div>
            <p><span>{{review.author}}</span> | <span>{{review.date}}</span></p>
  
          </div>
  
        {% endfor %}

      </div>

      <hr>

      <div class="diagonal_navigation">

        <div class="diagonal_navigation_bg"></div>
        <div class="swiper-button-prev _diagonal_navigation"></div>
        <span class="current_slide">01</span>
        <br>
        <span class="total_slides">03</span>
        <div class="swiper-button-next _diagonal_navigation"></div>

      </div>

    </div>

  </div>

  <div class="content_block clinics_cotnainer">

    <div class="clinics_cotnainer_bg"></div>

    <div class="clinics_title">

      <h2 class="_index_subtitle">Адреса наших клиник</h2>

    </div>

    <div class="cities">

      <div class="city moscow _active">Москва</div>
      <div class="city geneva">Женева</div>

    </div>

    <div class="moscow_clinics clinics_wrapper">

      {% for clinic in clinics %}
      
        {% if clinic.clinic_id != 5 %}

          <div class="clinic_card_wrapper" data-title="{{clinic.clinic_title}}" data-map="{{clinic.clinic_map}}">

            <p class="clinic_title">{{clinic.clinic_title}}</p>
            <p class="clinic_address">{{clinic.clinic_address | raw}}</p>

          </div>

        {% endif %}

      {% endfor %}

    </div>

    <div class="geneva_clinics clinics_wrapper _hidden">

      {% for clinic in clinics %}
      
        {% if clinic.clinic_id == 5 %}

          <div class="clinic_card_wrapper" data-title="{{clinic.clinic_title}}" data-map="{{clinic.clinic_map}}">

            <p class="clinic_title">{{clinic.clinic_title}}</p>
            <p class="clinic_address">{{clinic.clinic_address | raw}}</p>

          </div>

        {% endif %}

      {% endfor %}

    </div>

    <div class="clinic_info">

      <h3 class="clinic_name"></h3>

      <div class="clinic_ratings"></div>

      <div class="clinic_on_map"></div>

    </div>
  
  </div>

</div>