<div data-page-type="index">

  <div class="content_block top_container">

    <div class="top_wrapper">

      <div class="top_img"></div>

      <h1>Центр Эстетической Стоматологии</h1>

      <div class="top_list">

        <div class="top_list_item _premium"><p>Премиальный<br class="top_text_br"> сегмент&nbsp;услуг</p></div>
        <div class="top_list_item _spec"><p>Специалисты<br class="top_text_br"> экстра-класса</p></div>
        <div class="top_list_item _innovation"><p>Инновационные<br class="top_text_br"> материалы<span> и оборудование</p></span></div>

      </div>

      <button class="reception_button _button popup_button">Записаться&nbsp;на&nbsp;приём</button>

    </div>

  </div>

  <div class="content_block servises_container">

    <h2 class="_index_subtitle">Лечение зубов по современным технологиям</h2>

    <div class="servises_wrapper">

        <div class="services_item">
          <img class="services_item_img" src="img/teeth-category/therapy_icon.svg" alt="">
          <a class="_menu_link" href="/dent/terapiya">Терапия</a>
        </div>

        <div class="services_item">
          <img class="services_item_img" src="img/teeth-category/protez_icon.svg" alt="">
          <a class="_menu_link" href="/dent/ortoped">Ортопедия</a>
        </div>

        <div class="services_item">
          <img class="services_item_img" src="img/teeth-category/surg_icon.svg" alt="">
          <a class="_menu_link" href="/dent/hirurg">Хирургия</a>
        </div>

        <div class="services_item">
          <img class="services_item_img" src="img/teeth-category/implant_icon.svg" alt="">
          <a class="_menu_link" href="/dent/impl">Имплантология</a>
        </div>

        <div class="services_item">
          <img class="services_item_img" src="img/teeth-category/paradont_icon.svg" alt="">
          <a class="_menu_link" href="/dent/paradot">Парадонтология</a>
        </div>

        <div class="services_item">
          <img class="services_item_img" src="img/teeth-category/ortho_icon.svg" alt="">
          <a class="_menu_link" href="/dent/ortodont">Ортодонтия</a>
        </div>

        <div class="services_item">
          <img class="services_item_img" src="img/teeth-category/anesth_icon.svg" alt="">
          <a class="_menu_link" href="/dent/anestez">Анестезиология</a>
        </div>

        <div class="services_item">
          <img class="services_item_img" src="img/teeth-category/whitening_icon.svg" alt="">
          <a class="_menu_link" href="/dent/withe">Отбеливание</a>
        </div>

    </div>

  </div>

  <div class="content_block deals_container">

    <div class="deals_title">

      <h2 class="_index_subtitle">Спецпредложения</h2>

      <form action="/specialnoe/">
        <button class="_button _button_light _button_to_all"><span>Все спецпредложения</span> →</button>
      </form>

    </div>

    <div class="swiper-container deals_wrapper">

      <div class="swiper-wrapper">

        {% for deal in deals %}
    
          <div class="swiper-slide deal_item_wrapper">       
  
            <a class="_menu_link_no_borders" href="/specialnoe/{{deal.alias}}">

              <div class="deal_item">

                <div class="deal_img" style="background: url(/img/{{deal.deals_image_front}});" data-deal-alias="{{deal.alias}}"></div>

                <div class="deal_text">
                  <h4>{{deal.deals_title | raw}}</h4>
                  <p>{{deal.deals_index_description | raw}}</p>
                </div>

              </div>

            </a>
  
          </div>
  
        {% endfor %}

      </div>

      <div class="swiper-pagination revolver_pagination"></div>
      
      <div class="revolver_navigation_wrapper">
        <div class="swiper-button-prev revolver_navigation"></div>
        <div class="swiper-button-next revolver_navigation"></div>
      </div>

    </div>

  </div>

  <div class="content_block clinic_description_container">

    <div class="clinic_description_wrapper">


      <div class="clinic_description_title">

        <h2 class="_index_subtitle">О клинике</h2>

      </div>

      <div class="swiper_container clinic_description_gallery">

        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <img src="/img/about_photo_test.png" alt="">
          </div>

          <div class="swiper-slide">
            <img src="/img/about_photo_test.png" alt="">
          </div>

          <div class="swiper-slide">
            <img src="/img/about_photo_test.png" alt="">
          </div>

          
        </div>

        <div class="diagonal_navigation">
          <div class="swiper-button-prev _diagonal_navigation"></div>
          <span class="current_slide">01</span>
          <br>
          <span class="total_slides">03</span>
          <div class="swiper-button-next _diagonal_navigation"></div>

        </div>

      </div>

      <div class="clinic_description_content">

        <p>
          Оперативное вмешательство в стоматологии используется в случаях, 
          когда неэффективно проведение консервативного лечения. 
          Стоматологическая хирургия подразумевает операции, которые 
          проводятся в ротовой полости и на челюсти. Центр Эстетической 
          Стоматологии оказывает широкий перечень услуг, в т. ч. осуществляет 
          хирургию различной сложности.
          <br>
          Иногда зуб невозможно спасти, тогда мы проводим быстрое и 
          безопасное удаление. Уточнить перечень процедур и их цены можно 
          на приеме или в прайсе клиники. Хирурги ЦЭС выполняют 
          зубосохраняющие операции, предлагают оперативные методы лечения 
          заболеваний твердых и мягких тканей ротовой полости. С возможностями 
          и ценами стоматологической хирургии можно познакомиться на сайте.
        </p>

        <button class="read_more">Читать полностью</button>

      </div>

    </div>

  </div>

  <div class="doctors_advantages_bg">
    <div class="doctors_advantages_bg_inner">

      <div class="content_block doctors_container">
    
        <div class="doctors_title">
    
          <h2 class="_index_subtitle">Наши специалисты</h2>
    
          <p>
            Было бы неплохо поставить здесь какой-то обычный тект про то, 
            что средний стаж наших специалистов порядка 15 лет. Что мы 
            отбираем только лучших стоматологов Москвы, которые регулярно 
            подтверждают свою квалификацию.
          </p>

          <form action="/specialists/">
            <button class="_button _button_light _button_to_all"><span>Все врачи</span> →</button>
          </form>
    
        </div>

        <div class="swiper-container doctors_wrapper">

          <div class="swiper-wrapper">
    
            {% for doctor in doctors %}
        
              <div class="swiper-slide doctor_item_wrapper">       
      
                {{this.render('/components/doctor_card.twig', {'doctor': doctor}) | raw}}
      
              </div>
      
            {% endfor %}
    
          </div>

          <div class="swiper-pagination revolver_pagination"></div>
    
          <div class="revolver_navigation_wrapper">

            <div class="swiper-button-prev revolver_navigation"></div>
            <div class="swiper-button-next revolver_navigation"></div>

          </div>
    
        </div>
    
    
      </div>
    
      {{this.render('/components/advantages.twig', {"title": "Не просто стоматология"}) | raw}}

    </div>

  </div>

  <div class="content_block reviews_cotnainer">

    <div class="reviews_cotnainer_bg"></div>

    <div class="reviews_title">
    
      <h2 class="_index_subtitle">Что о нас говорят</h2>

      <form action="/reviews/">
        <button class="_button _button_light _button_to_all"><span>Все отзывы</span> →</button>
      </form>

    </div>

    <div class="swiper-container reviews_wrapper">

      <div class="swiper-wrapper">

        <div class="swiper-slide review_item_wrapper">       
  
          <div class="big_quotes"></div>

          <hr>

          <div class="review_text">

            <p>
              Мне надо было два импланта поставить, а эта процедура недешевая Мне надо было два импланта 
              поставить, а эта процедура недешевая, да и довольно сложная и болезненная, как мне 
              рассказывали. Обратился в Центр имплантологии, моим врачом был Пастьян А.А. оказалось все 
              гораздо проще и быстрее, чем я предполагал. Врач – профессионал с большой буквы. Особой 
              боли не было, легкий дискомфорт, отдельно порадовала итоговая сумма лечения, вполне 
              доступно! Хорошо, что именно в вашу стоматологию попал случайно.
              Мне надо было два импланта поставить, а эта процедура недешевая Мне надо было два импланта 
              поставить, а эта процедура недешевая, да и довольно сложная и болезненная, как мне 
              рассказывали. Обратился в Центр имплантологии, моим врачом был Пастьян А.А. оказалось все 
              гораздо проще и быстрее, чем я предполагал. Врач – профессионал с большой буквы. Особой 
              боли не было, легкий дискомфорт, отдельно порадовала итоговая сумма лечения, вполне 
              доступно! Хорошо, что именно в вашу стоматологию попал случайно.
              Мне надо было два импланта поставить, а эта процедура недешевая Мне надо было два импланта 
              поставить, а эта процедура недешевая, да и довольно сложная и болезненная, как мне 
              рассказывали. Обратился в Центр имплантологии, моим врачом был Пастьян А.А. оказалось все 
              гораздо проще и быстрее, чем я предполагал. Врач – профессионал с большой буквы. Особой 
              боли не было, легкий дискомфорт, отдельно порадовала итоговая сумма лечения, вполне 
              доступно! Хорошо, что именно в вашу стоматологию попал случайно.
            </p>

            <div class="show_all _hidden">
              <button class="read_more">Читать полностью</button>
            </div>

          </div>

            <p class="signature">Антипова Евгения 28 лет | 10 сентября 2015</p>

        </div>

        {% for review in reviews %}
    
          <div class="swiper-slide review_item_wrapper">       
  
            <div class="big_quotes"></div>

            <hr>

            <div class="review_text" data-id="{{review.review_id}}">

              {{review.review_text | raw}}

              <div class="show_all _hidden">
                <button class="read_more">Читать полностью</button>
              </div>

            </div>

            <p class="signature"><span>{{review.author}}</span> | <span>{{review.date}}</span></p>
  
          </div>
  
        {% endfor %}

      </div>

      <div class="diagonal_navigation">

        <div class="diagonal_navigation_bg"></div>
        <div class="swiper-button-prev _diagonal_navigation"></div>
        <span class="current_slide">01</span>
        <br>
        <span class="total_slides">03</span>
        <div class="swiper-button-next _diagonal_navigation"></div>

      </div>

    </div>

  </div>

  <div class="content_block clinics_cotnainer">

    <div class="clinics_title">

      <h2 class="_index_subtitle">Адреса наших клиник</h2>

    </div>

    <div class="cities">

      <div class="city moscow _active">Москва</div>
      <div class="city geneva">Женева</div>

    </div>

    <div class="swiper-container moscow_clinics clinics_wrapper">

      <div class="swiper-wrapper">

        {% for clinic in clinics %}
        
          {% if clinic.clinic_id != 5 %}

            <div
              class="swiper-slide clinic_card_wrapper"
              data-title="{{clinic.clinic_title | raw}}"
              data-map="{{clinic.clinic_map}}"
              data-address="{{clinic.clinic_address | raw}}"
              data-phone="{{clinic.clinic_phone | raw}}"
              data-opening-hours="{{clinic.clinic_opening_hours | raw}}"
            >

              <p class="clinic_title">{{clinic.card_title}}</p>
              <p class="clinic_address">{{clinic.clinic_address_short | raw}}</p>

            </div>

          {% endif %}

        {% endfor %}

      </div>

      <div class="swiper-pagination revolver_pagination"></div>

      <div class="revolver_navigation_wrapper">
        <div class="swiper-button-prev revolver_navigation"></div>
        <div class="swiper-button-next revolver_navigation"></div>
      </div>

    </div>

    <div class="geneva_clinics clinics_wrapper _hidden">

      {% for clinic in clinics %}
      
        {% if clinic.clinic_id == 5 %}

          <div
            class="clinic_card_wrapper"
            data-title="{{clinic.clinic_title | raw}}"
            data-map="{{clinic.clinic_map}}"
            data-address="{{clinic.clinic_address | raw}}"
            data-phone="{{clinic.clinic_phone | raw}}"
            data-opening-hours="{{clinic.clinic_opening_hours | raw}}"
          >

            <p class="clinic_title">{{clinic.clinic_title}}</p>
            <p class="clinic_address">{{clinic.clinic_address_short | raw}}</p>

          </div>

        {% endif %}

      {% endfor %}

    </div>

    <div class="clinic_info">

      <h3 class="clinic_name"></h3>

      <div class="clinic_ratings">
        {{this.render('/components/ratings.twig') | raw}}
      </div>
      
      <div class="clinic_contacts">
        <p>
          <span class="title">Адрес:</span><br>
          <span class="address_content"></span><br>
        </p>
        <p>
          <span class="title">Телефоны:</span><br>
          <span class="phone_content"></span><br>
        </p>
        <p>
          <span class="title">Время работы:</span><br>
          <span class="work_hours_content"></span>
        </p>
      </div>

      <div class="clinic_on_map"></div>

    </div>
  
  </div>

  {{this.render('/components/instagram.twig') | raw}}


</div>

<div class="popup_filter_bg"> 

  <div class="scroll_block">

    <div class="review_item_wrapper _hidden">
      
      <div class="close_icon"></div>  

      <div class="big_quotes"></div>

      <hr>

      <div class="review_text">
  
        <p class="main_text"></p>
        <p class="signature"></p>
  
      </div>

      <div class="popup_close_button">Закрыть</div>       
  
    </div>

  </div>

</div>